<%@ Page Title="Year End Tax Report" Language="C#" MasterPageFile="~/Master/EmployeeMS.Master"
    AutoEventWireup="true" CodeBehind="AnnualTaxReportNew.aspx.cs" Inherits="Web.Employee.AnnualTaxReportNew" %>

<%@ Register Src="~/UserControls/AnnualTaxCtl.ascx" TagName="AnnualTaxCtl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
   <uc1:AnnualTaxCtl Id="AnnualTaxCtl" runat="server" />
</asp:Content>
