﻿<%@ Page Title="No Permission" Language="C#" MasterPageFile="~/Master/EmployeeExt.Master" AutoEventWireup="true" CodeBehind="EmpNoPermissionPage.aspx.cs" Inherits="Web.Employee.EmpNoPermissionPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="header1" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="mainContent" runat="server">

<div class="innerLR">
        <div class="separator bottom">
        </div>

        <h2 style="color:Red;">
            No Permission to view the employee details
        </h2>

</div>


</asp:Content>
