<%@ Page Title="Leave Details" Language="C#" MaintainScrollPositionOnPostback="true" MasterPageFile="~/Master/EmployeeMS.Master" AutoEventWireup="true" CodeBehind="LeaveRecord.aspx.cs" Inherits="Web.CP.Report.LeaveRecord" %>
<%@ Register assembly="DevExpress.XtraReports.v16.1.Web, Version=16.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dxxr" %>
<%@ Register src="~/Controls/Report/ReportContainer.ascx" tagname="ReportContainer" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
 <div style="margin-top: 10px">
    </div>
<uc1:ReportContainer runat="server"   OnReloadReport="LoadReport" id="report" />


</asp:Content>
