﻿<%@ Page Title="Team Leave Balance" Language="C#" MasterPageFile="~/Master/EmployeeMS.Master" AutoEventWireup="true"
    CodeBehind="OtherEmployeeBalanceList.aspx.cs" Inherits="Web.Employee.OtherEmployeeBalanceList" %>

<%@ Register src="~/CP/Extension/UserControls/EmployeeLeaveBalance.ascx" tagname="ReviewList" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
 <%--  <h2>Employee List</h2>
   --%>
   <div class="contentArea">
    <uc1:ReviewList ID="EmployeeList1" runat="server" />
 </div>
</asp:Content>
