﻿<%@ Page Title="Submit Attendance" Language="C#" MasterPageFile="~/Master/EmployeeMS.Master"
    AutoEventWireup="true" CodeBehind="SubmitAttendance.aspx.cs" Inherits="Web.CP.SubmitAttendance" %>

<%@ Register Src="~/Controls/InfoMsgCtl.ascx" TagName="MsgCtl" TagPrefix="uc2" %>
<%@ Register Src="~/UserControls/ManualAttendanceCtl.ascx" TagName="ChangePasswordCtl"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style2
        {
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <uc1:ChangePasswordCtl Id="ChangePasswordCtl1" runat="server" />
</asp:Content>
