﻿<%@ Page Title="Employee Appraisal" Language="C#" MasterPageFile="~/Master/EmployeeMS.Master"
    AutoEventWireup="true" CodeBehind="EmployeeAppraisalReviewPage.aspx.cs" Inherits="Web.Appraisal.EmployeeAppraisalReviewPage" %>

<%@ Register Src="~/Employee/Appraisal/ReviewAllCtl.ascx" TagName="review" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">

    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
<uc2:review runat="server" id="ctl1" />
</asp:Content>
