﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/HROld.Master" AutoEventWireup="true" CodeBehind="ManageProjectTimeSheet.aspx.cs" Inherits="Web.CP.Extension.ManageProjectTimeSheet" %>
<%@ Register Src="~/NewHR/UserControls/ManageProjectsCtrl.ascx" TagName="ManagePrj" TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="header1" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">

<uc2:ManagePrj ID="ManagePrjCtrl" runat="server" />

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="pageScriptsContent" runat="server">
</asp:Content>
