﻿
.astrick
{
    /*color:Red;*/
    font-size:x-small;
    vertical-align:top;
    padding-right:2px!important;padding-left:2px;
}

.focusControl
{
	border:1px solid #56B4EF!important;
    /*background-color:#7F9DB9!important;*/
}


.fieldHeader
		{text-align:left;}
		
.dataField td { 
	padding:4px; 
	}

/*input[type=text]:focus,input[type=password]:focus,textarea:focus*/
/*.focusControl
{outline:none;border-color:rgba(82,168,236,.75)!important;box-shadow:0
0 8px rgba(82,168,236,.5);-moz-box-shadow:0 0 8px
rgba(82,168,236,.5);-webkit-box-shadow:0 0 8px rgba(82,168,236,.5);} 
input[type="text"], textarea, fieldset {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;	
}*/
/*
input[type="text"], textarea {
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border:1px solid rgba(0,0,0, 0.2);
	padding: 2px;
}

input[type="text"]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(184, 221, 221, 1);
    -webkit-box-shadow: 0 0 5px rgba(184, 221, 221, 1); 
    -moz-box-shadow: 0 0 5px rgba(184, 221, 221, 1);
    border:1px solid rgba(184, 221, 221, 0.8); 
}*/

.companyGridHover
{
	background-color:#ebebeb;

}


.popup{border:2px solid #b9ddff;background:#e1f0fd}
.popupClose{position:absolute;right:10px;top:7px;font-weight:bold;color:orange;text-indent:-100px;background:url(../images/close.gif) left top;width:10px;height:10px;display:block;overflow:hidden;}



.dragMe
{
	cursor:move;
	height:20px;
	width:100%;
	background-color:lightblue;
}

.loadingImage
{
display: none;
 position: absolute; 
 margin: 0 auto 0 auto;
 background-color:Transparent;
 z-index:9999999
}

.loadingStartingImage
{
 position: absolute; 
 margin: 0 auto 0 auto;
 left:50%;
 top:50%;
 background-color:Transparent;
 z-index:9999999
}

.watermarked
{
	background-color:#ebebeb;	
}




.textboxChangedHightlight
{
background-color:yellow;
}



.msginfo {
background:none repeat scroll 0 0 #FFFFEE;
border-color:green;
border-style:solid;
border-width:2px 2px 2px 2em;
font-family:Arial;
font-size:10pt;
line-height:1em;
padding:0.5em 0.5em 0.5em 1em;
width:400px;
}
.msgwarn {
background:none repeat scroll 0 0 #FFFFEE;
border-color:orange;
border-style:solid;
border-width:2px 2px 2px 2em;
font-family:Arial;
font-size:10pt;
line-height:1em;
padding:0.5em 0.5em 0.5em 1em;
width:400px;
margin-bottom:10px;
}
.msgerror {
background:none repeat scroll 0 0 #FFFFEE;
border-color:red;
border-style:solid;
border-width:2px 2px 2px 2em;
display:inline-block;
font-family:Arial;
font-size:10pt;
font-weight:bold;
line-height:1em;
padding:0.5em 0.5em 0.5em 1em;
margin-bottom:10px;
}

.invalidTxtAmount
{
	border:1px solid red;	
}

  .disabledTxt
    {
        background-color: lightgray;
    }
    
 input[disabled=disabled], input.disabled,select.disabled, select[disabled='disabled']
 {
 	/*border: 1px solid #999!important;*/
	background-color: #F2F2F2;
	/*color:Black!important;*/
	
	/*font-weight:bolder!important;*/
	/*filter: alpha(opacity=100)!important; */
 }
 /*input[type=radio], input[type=checkbox]{background-color:inherit;}*/`
   
 /*calculation page input*/
 .calculationInput
 {
 	background-color:#CCFF9A;
    border: 1px solid #829CB7;
   
    height: 15px;
    
   	
   
   
    
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    width: 45px;
    font:11px Tahoma,sans-serif;
    
    width:70px;
 }
 .calculationInputDisabled
 {
 	 background-color: #EAF4F9!important;
 }
 
 
 /*attendance page*/
 

input[type=text], textarea, select {
    border: thin solid #A2B4C6;
    font:13px Arial,Helvetica,sans-serif;
   -webkit-border-radius:2px; 
   -moz-border-radius:2px; 
   border-radius:2px; 
}

input[type=text]
{height:23px;color: #003F59; font-size:100% Helvetica Neue,Helvetica,Arial,sans-serif;}
select
{
	height:25px;font:13px Helvetica Neue,Helvetica,Arial,sans-serif;
	vertical-align: middle

}

label.lblingText{ width:100px; padding-right:10px;  text-align:left; float:left;}


.defaultPagingBar,.defaultPagingBar td
{
	padding:0px;
	background:none repeat scroll 0 0 #F2F6FF;
	height:22px;
	width:15px!important;
}

.defaultPagingBar a:hover
{
	color:blue!important;
}
.defaultPagingBar a
{
	color:#0E9DD2!important;
    font:13px Arial!important;
    text-decoration:underline!important;
    padding:4px;
}

.defaultPagingBar span
{
	
    font:12px Arial!important;
    padding:3px;
      border: 1px solid lightgray;
}
.itemgrid
{
    border:1px solid;
}
