﻿body, html, p, form, ul, h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	border: 0px;	
}


img {
	border: 0px;	
}

div, input, select, textarea, a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
}

.clear {
	clear: both;	
}

a {
	color: #333;
	text-decoration: none;	
}



/* TOP NAV */

#headermenu {
	background-image: url(images/body_nav_all.png);
	padding: 30px 0;
	padding-bottom: 50px;
}

#nav, #content, #footer_div {
	width: 1002px;
	margin: 0px auto;	
}

#headermenu h1 {
	float: left;
	margin-top: -10px;
}

#headermenu ul {
	margin-top: 20px;	
	float: right;
}

#headermenu li {
	float: left;
	display: inline;
	font-weight:bold;
	margin-left: 6px;
}

#headermenu li a {
	padding:10px 12px;
	font-size: 15px;
	color: #509a9b;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
}

#headermenu li a:hover, #headermenu li.active a {
	color: #000;
	background-color: #fff;	
}



/* BUTTONS AND ELEMENTS */

.largebutton a, .hxbutton {
	padding: 10px;
	display: block;
	color:#FFF;
	font-size: 16px;
	font-weight: bold;
	background-image:url(images/button_sprite.png);	
	background-repeat: no-repeat;
}

.largebutton, .hxbutton {
	width: 191px;	
}

.hxbutton {
	height: 40px;	
}

input[type="button"], input[type="button"]:active, input[type="submit"], input[type="submit"]:active {
	/*font-weight: bold;
	background-color: #32546e;
	color: #fff;
	border: 1px solid #333;*/
	margin: 5px 2px;
	padding: 2px 5px;
	
	/*
	background-image:url(images/button_sprite.png);	
	background-repeat: no-repeat;
	background-position: left -163px;	
	color:#FFF;
	font-weight: bold;
	padding: 4px;
	width: 99px;
    */
}

/*
input[type="button"], .hxbutton {
	border: 0px;
	background-color: transparent;
}

input[type="button"]:hover, input[type="button"].grey {
	background-position: left -190px;
	color:#000;
}
*/

.largebutton.blue a {
	background-position: left 0px;
}

.largebutton.green a {
	background-position: left -40px;
}

.largebutton.orange a {
	background-position: left -81px;
}

.largebutton a:hover, .hxbutton:hover, .hxbutton:active  {
	background-position: left -121px;	
	color: #000;
}


/* LEFT NAV */

#leftnav ul {
	list-style: none;
	width: 197px;
}

#leftnav li a {
	padding: 8px;
	display: block;
	background-image:url(images/sub_nav_hover.png);
	background-repeat:no-repeat;
	background-position: left -300px;
	margin-bottom: 2px;	
	font-weight: bold;
}

#leftnav li a:hover {
	background-position: left -32px;
	color: #285859;
}

#leftnav li.active a, #leftnav li.active a:hover {
	background-position: top left;	
	color: #FFF;
}


/* FIELDSET AND CONTENT STYLES */

fieldset {
	border: 2px solid #E1EAEA;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;	
}

fieldset legend {
	font-size: 16px;
	font-weight: bold;
	padding: 4px;	
	color: #666;
}

fieldset form {
	padding: 8px;	
}

fieldset h2 {
	margin-bottom: 5px;	
}

.lf {
	vertical-align: top;
	padding-top: 6px;
	color:#666666;
}

fieldset table {
	padding: 0px;	
	border-collapse: collapse; 	
}

fieldset td{
	padding: 3px 0;
    margin-left: 40px;
    
}

fieldset th
{
border-right: 1px solid #fff;
}

.grid td, .grid th {
	padding: 2px 5px;
	font-size: 13px;
	color:#666;	
}

.grid .odd td {
	background-color: #EBEBEB;	
}

.grid .subhead td {
	background-color: #e1eaea;
	color: #000;
	font-size: 11px;
	font-weight: bold;	
}

.grid th {
	background-color: #375b76;
	text-align: left;
	color:#FFF;
}

.grid tr
{
    border-bottom: 1px solid #666;
}


/*ALIGNMENT AND LAYOUT OPTIONS*/

.col1, .col2 {
	float: left;	
}

.col1 {
	width: 200px;
	margin-right: 20px;	
}

.col2 {
	width: 780px;	
}


fieldset td, fieldset th
{
    padding: 3px 10px;
}


.editDeleteTH
{
	width:50px
}
.editDeleteTD
{
	text-align:center
}

.paddingRemovedTBL td
{
	padding:0px!important;
	margin:0px !important;
}


 div.bevel, div.bevel div.fields {
    -moz-border-radius: 7px 7px 7px 7px;
}

div.bevel{
    border: 1px solid #C1D6F3;
    float: left;
   
   /* width: 442px;*/
}
div.bevel div.fields{
   border: 1px solid #FAFCFE;
    float: left;
   
    padding: 3px 0 5px 8px;
    width: 434px;
}

.popupHeader{
    background: #428BCA;
    font-weight: normal;
    font-size: 12px;
    height:30px;
}

.marginleft{ margin-left:50px;}
