﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EmployeeWizard.ascx.cs"
    Inherits="Web.NewHR.UserControls.EmployeeWizard" %>
<style type="text/css">
    
</style>
<div id="rootwizard" runat="server">
    <ul class="nav nav-justified nav-wizard nav-wizard-success customwiard" id="list"
        runat="server" style="margin-left: 0px; margin-bottom: 15px;">
        <li runat="server"><a id="A5" runat="server" href="~/newhr/PersonalDetail.aspx">Main_Info
        </a></li>
        <li id="Li2" runat="server"><a id="A6" runat="server" href="~/newhr/address.aspx">Address</a></li>
        <li id="Li3" runat="server"><a id="A7" runat="server" href="~/newhr/Health.aspx">Health</a></li>
        <li id="Li4" runat="server"><a id="A8" runat="server" href="~/newhr/DocumentListing.aspx">
            Documents</a></li>
        <li id="Li5" runat="server"><a id="A9" runat="server" href="~/newhr/Family.aspx">Family</a></li>
        <li id="Li6" runat="server"><a id="A10" runat="server" href="~/newhr/Identification.aspx">
            Identification</a></li>
        <li id="Li8" runat="server"><a id="A2" runat="server" href="~/newhr/PreviousEmployment.aspx">
            Work_Exp</a></li>
        <li id="Li9" runat="server"><a id="A3" runat="server" href="~/newhr/EducationTraining.aspx">
            Education</a></li>
        <li id="Li10" runat="server"><a id="A1" runat="server" href="~/newhr/EmployeeLeave.aspx">
            Leave</a></li>
        <li id="Li1" runat="server"><a id="A11" runat="server" href="~/newhr/EmployeePayroll.aspx">
            Payroll</a></li>
        <li id="LiReward" title="Reward or Addition Income" runat="server"><a id="A4" runat="server" href="~/newhr/EmployeeGradeReward.aspx">
            Addition</a></li>
         <li id="liAdditionalHR" runat="server"><a id="A12" runat="server" href="~/newhr/OtherHRDetails.aspx">
            Other HR</a></li>
    </ul>
</div>
