﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TrainingPopupCtrl.ascx.cs" Inherits="Web.NewHR.UserControls.TrainingPopupCtrl" %>


<ext:Hidden runat="server" ID="hdnTrainingID">
</ext:Hidden>
  <table class="fieldTable" border="0">
            <tr>
                <td>
                    <ext:ComboBox ID="cmbTrainingType" runat="server" Width="180px" ValueField="TrainingTypeId"
                        DisplayField="TrainingTypeName" FieldLabel="Training Type *" LabelAlign="top" LabelSeparator=""
                        ForceSelection="true" QueryMode="Local">
                        <%--<Items>
                            <ext:ListItem Text="Organization Sponcered" Value="1" />
                            <ext:ListItem Text="Third Paty Sponcered" Value="2" />
                            <ext:ListItem Text="Self Funded" Value="3" />
                        </Items>--%>
                         <Store>
                            <ext:Store ID="Store3" runat="server">
                                <Model>
                                    <ext:Model ID="Model3" runat="server">
                                        <Fields>
                                            <ext:ModelField Name="TrainingTypeId" Type="String" />
                                            <ext:ModelField Name="TrainingTypeName" Type="String" />
                                        </Fields>
                                    </ext:Model>
                                </Model>
                            </ext:Store>
                        </Store>
                    </ext:ComboBox>
                    <asp:RequiredFieldValidator Display="None" ID="valcmbTrainingType" runat="server"
                        ValidationGroup="TrainingSaveUpdate" ControlToValidate="cmbTrainingType" ErrorMessage="Training Type is required." />
                </td>
            </tr>
            <tr>
                <td colspan='2' style="padding-bottom:15px">
                    <ext:TextField ID="txtTrainingName" Width="340px" runat="server" FieldLabel="Training Name *"
                        LabelAlign="top" LabelSeparator="" />
                    <asp:RequiredFieldValidator Display="None" ID="valtxtTrainingName" runat="server"
                        ValidationGroup="TrainingSaveUpdate" ControlToValidate="txtTrainingName" ErrorMessage="Training Name is required." />
                </td>
                <td>
                </td>
                <td>
                    <ext:FileUploadField ID="FileTrainingDocumentUpload" runat="server" Width="200" Icon="Attach"
                        FieldLabel="&nbsp;" LabelAlign="Top" LabelSeparator="" />
                    <%--<span style="color: #ACACAC; padding-top: 20px;">*(only doc,pdf,txt,docx,rar,xlsx,xls)</span>
                    <asp:RegularExpressionValidator ID="RegularExpressionValidator1" ValidationExpression="^.*\.(doc|DOC|pdf|PDF|txt|TXT|docx|DOCX|rar|RAR|xlsx|xls)$"
                        runat="server" ValidationGroup="TrainingSaveUpdate" Display="None" ControlToValidate="FileTrainingDocumentUpload"
                        ErrorMessage="Invalid file format."></asp:RegularExpressionValidator>--%><br />

                    <ext:LinkButton runat="server" ID="lnkFileName" OnDirectClick="lnkFileName_Click"
                        Text="" Hidden="true">
                        <DirectEvents>
                            <Click OnEvent="lnkFileName_Click">                                
                            </Click>
                        </DirectEvents>
                    </ext:LinkButton>

                    <ext:Label ID="lblUploadedFile" runat="server" Hidden="true">
                    </ext:Label>



                    <ext:LinkButton Icon="Delete" runat="server" ID="lnkDeleteFile" OnDirectClick="lnkDeleteFile_Click"
                        Text="Delete file" Hidden="true">
                        <DirectEvents>
                            <Click OnEvent="lnkDeleteFile_Click">
                                <EventMask ShowMask="true" />
                                <Confirmation ConfirmRequest="true" Message="Are you sure, you want to delete the file?" />
                            </Click>
                        </DirectEvents>
                    </ext:LinkButton>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <ext:TextField ID="txtResourcePerson" Width="340px" runat="server" FieldLabel="Resource Person"
                        LabelAlign="top" LabelSeparator="" />
                </td>
                 
            </tr>
            <tr>
                <td>
                    <ext:TextField Width="180px" ID="txtInstitute" runat="server" FieldLabel="Institute"
                        LabelAlign="top" LabelSeparator="" />
                   <%-- <asp:RequiredFieldValidator Display="None" ID="valtxtInstitute" runat="server" ValidationGroup="TrainingSaveUpdate"
                        ControlToValidate="txtInstitute" ErrorMessage="Institute is required." />--%>
                </td>
                <td>
                    <ext:ComboBox Width="150px" ID="cmbCountry" runat="server" ValueField="CountryName"
                        DisplayField="CountryName" FieldLabel="Country" LabelAlign="top" LabelSeparator=""
                        ForceSelection="true" QueryMode="Local">
                        <Store>
                            <ext:Store ID="Store2" runat="server">
                                <Model>
                                    <ext:Model ID="Model4" runat="server">
                                        <Fields>
                                            <ext:ModelField Name="CountryName" />
                                            <ext:ModelField Name="CountryName" />
                                        </Fields>
                                    </ext:Model>
                                </Model>
                            </ext:Store>
                        </Store>
                    </ext:ComboBox>
                    <%--  <asp:RequiredFieldValidator Display="None" ID="valcmbCountry" runat="server" ValidationGroup="TrainingSaveUpdate"
                        ControlToValidate="cmbCountry" ErrorMessage="Country is required." />--%>
                </td>
                <td colspan='2' style="padding-left: 20px;">
                    <ext:TextField ID="txtVenue" Width="200" runat="server" FieldLabel="Venue"
                        LabelAlign="top" LabelSeparator="" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="fieldTable firsttdskip">
                        <tr>
                            <td>
                                <ext:TextField ID="txtDuration" runat="server" FieldLabel="Duration" LabelAlign="top"
                                    Width="85" LabelSeparator="" MaskRe="[0-9]|\.|%" />
                               <%-- <asp:RequiredFieldValidator Display="None" ID="valtxtDuration" runat="server" ValidationGroup="TrainingSaveUpdate"
                                    ControlToValidate="txtDuration" ErrorMessage="Duration  is required." />--%>
                            </td>
                            <td>
                                <ext:ComboBox ID="cmbDurationType" runat="server" ValueField="Value" DisplayField="Text"
                                    Width="80" FieldLabel="&nbsp;" LabelAlign="top" LabelSeparator="" ForceSelection="true"
                                    QueryMode="Local">
                                    <Items>
                                        <ext:ListItem Text="Year" Value="1" />
                                        <ext:ListItem Text="Month" Value="2" />
                                        <ext:ListItem Text="Week" Value="3" />
                                        <ext:ListItem Text="Day" Value="4" />
                                    </Items>
                                    <%-- <Store>
                                            <ext:Store ID="Store1" runat="server">
                                                <Model>
                                                    <ext:Model ID="Model2" runat="server">
                                                        <Fields>
                                                            <ext:ModelField Name="Value" />
                                                            <ext:ModelField Name="Text" />
                                                        </Fields>
                                                    </ext:Model>
                                                </Model>
                                            </ext:Store>
                                        </Store>--%>
                                </ext:ComboBox>
                              <%--  <asp:RequiredFieldValidator Display="None" ID="valcmbDurationType" runat="server"
                                    ValidationGroup="TrainingSaveUpdate" ControlToValidate="cmbDurationType" ErrorMessage="Duration Type is required." />--%>
                            </td>
                            <td style="    padding-left: 15px;">
                                <pr:CalendarExtControl FieldLabel="Start Date" Width="150px" ID="calStartDate"
                                    runat="server" LabelSeparator="" LabelAlign="Top" />
                               <%-- <asp:RequiredFieldValidator Display="None" ID="valcalStartDate" runat="server" ValidationGroup="TrainingSaveUpdate"
                                    ControlToValidate="calStartDate" ErrorMessage="Start Date is required." />--%>
                            </td>
                            <td style="padding-left:21px">
                                <pr:CalendarExtControl StyleSpec="padding-left:20px" FieldLabel="End Date" Width="150px" ID="calEndDate" runat="server"
                                    LabelSeparator="" LabelAlign="Top" />
                                <%--<asp:RequiredFieldValidator Display="None" ID="valCalEndDate" runat="server" ValidationGroup="TrainingSaveUpdate"
                                    ControlToValidate="calEndDate" ErrorMessage="End Date is required." />--%>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <ext:TextField ID="txtCostOfTraining" Width="178px" runat="server" FieldLabel="Cost Of Training"
                        LabelAlign="top" LabelSeparator="" MaskRe="[0-9]|\.|%" />
                </td>
                <td style="padding-left:10px">
                    <ext:TextField ID="txtTotalCost" Width="145px" runat="server" FieldLabel="Total Cost"
                        LabelAlign="top" LabelSeparator="" MaskRe="[0-9]|\.|%" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="fieldTable">
                        <tr>
                            <td style="padding-left: 0px!important">
                                <ext:ComboBox ID="cmbBond" runat="server" ValueField="Value" DisplayField="Text"
                                    FieldLabel="Bond" Width="85" LabelAlign="top" LabelSeparator="" ForceSelection="true"
                                    QueryMode="Local">
                                    <Items>
                                        <ext:ListItem Text="Yes" Value="True" />
                                        <ext:ListItem Text="No" Value="False" />
                                    </Items>
                                    <%-- <Store>
                                            <ext:Store ID="Store4" runat="server">
                                                <Model>
                                                    <ext:Model ID="Model5" runat="server">
                                                        <Fields>
                                                            <ext:ModelField Name="Value" />
                                                            <ext:ModelField Name="Text" />
                                                        </Fields>
                                                    </ext:Model>
                                                </Model>
                                            </ext:Store>
                                        </Store>--%>
                                    <DirectEvents>
                                        <Select OnEvent="cmbBond_Change">
                                            <EventMask ShowMask="true" />
                                        </Select>
                                    </DirectEvents>
                                </ext:ComboBox>
                                <%-- <asp:RequiredFieldValidator Display="None" ID="valcmbBond" runat="server" ValidationGroup="TrainingSaveUpdate"
                                    ControlToValidate="cmbBond" ErrorMessage="Bond is required." />--%>
                            </td>
                            <td>
                                <ext:TextField Width="80" ID="txtBondPeriod" runat="server" FieldLabel="Bond Period"
                                    Hidden="true" LabelAlign="top" LabelSeparator="" MaskRe="[0-9]|\.|%" />
                            </td>
                            <td>
                                <ext:ComboBox ID="cmbBondType" runat="server" ValueField="Value" DisplayField="Text"
                                    Hidden="true" FieldLabel="&nbsp" LabelAlign="top" LabelSeparator="" ForceSelection="true"
                                    QueryMode="Local">
                                    <Items>
                                        <ext:ListItem Text="Years" Value="1" />
                                        <ext:ListItem Text="Months" Value="2" />
                                    </Items>
                                    <%-- <Store>
                                            <ext:Store ID="Store4" runat="server">
                                                <Model>
                                                    <ext:Model ID="Model5" runat="server">
                                                        <Fields>
                                                            <ext:ModelField Name="Value" />
                                                            <ext:ModelField Name="Text" />
                                                        </Fields>
                                                    </ext:Model>
                                                </Model>
                                            </ext:Store>
                                        </Store>--%>
                                </ext:ComboBox>
                            </td>
                        </tr>
                    </table>
            </tr>
            <tr>
                <td colspan="2">
                    <ext:TextArea ID="txtNote" Width="335" runat="server" FieldLabel="Notes" LabelSeparator="" LabelAlign="Top"
                        Rows="3" Cols="50" />
                </td>
            </tr>
            <tr>
                <td valign="bottom" colspan="2">
                    <div class="popupButtonDiv">
                        <ext:Button runat="server" Cls="btn btn-primary" ID="btnSave"  Text="<i></i>Save" runat="server">
                            <DirectEvents>
                                <Click OnEvent="btnSave_Click">
                                    <EventMask ShowMask="true" />
                                </Click>
                            </DirectEvents>
                            <Listeners>
                                <Click Handler="valGroup = 'TrainingSaveUpdate'; if(CheckValidation()) return this.disable(); else return false;">
                                </Click>
                            </Listeners>
                        </ext:Button>
                        <div id="divOr" runat="server" class="btnFlatOr">
                            or</div>
                        <ext:LinkButton runat="server" StyleSpec="padding:0px;" ID="LinkButton2" Cls="btnFlatLeftGap"
                            Text="<i></i>Cancel">
                            <Listeners>
                                <Click Handler="#{AETrainingWindow}.hide();">
                                </Click>
                            </Listeners>
                        </ext:LinkButton>
                    </div>
                </td>
            </tr>
        </table>