﻿<%@ Page Title="DAR History" Language="C#" MasterPageFile="~/Master/NewDetails.Master"
    AutoEventWireup="true" CodeBehind="DAR_History.aspx.cs" Inherits="Web.Activity.DAR_History" %>
    <%@ Register Src="~/Activity/UserControls/DAR_HistoryCtl.ascx" TagName="HRViewCtl"
    TagPrefix="uc" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="head">

</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="ContentPlaceHolder_Main">


     <uc:HRViewCtl runat="server" id="h11" IsAdmin="true" />
</asp:Content>
