﻿
	.dateContainerDiv {
		display: none;
		position: absolute;
		z-index: 99999999;
		background-color: whitesmoke;
	}
	
    .dateContainer
    {
        border: 1px solid #B5C7D6;
        text-align: center;
        box-shadow: 0 2px 2px 2px #ccc;
        width:245px;
    }

    .dateUpperRegion
    {
        padding:0;
    }
     .dateUpperRegion table{ background:#F2F2F2; width:100%;}
     .dateUpperRegion table td{ padding:5px;}
     .dateUpperRegion seletc{ padding:2px; border:1px solid #CCC;}
    
    .dateHeader
    {
        background-color: #D9E5FB;
        border-top: 1px solid #B5C7D6;
        border-bottom: 1px solid #B5C7D6;
        font-size:11px;
        font-weight:bold;
        color:#1549B2;
    }
     .dateHeader td,.calendarMonthList td
     {
         line-height:18px!important;
     }
    .dateTable
    {
       
        width:100%;background:#FFF;
    }
    
    .dateTable tr td
    {
       /*padding:3px 0;*/
         background:#FFF;
         border-bottom:1px solid #ddd ;
         border-right:1px solid #ddd ;
        line-height: 22px!important;
    }
    
    .mainDay{color:#515156;text-align:left;padding-right: 1px;}
    .otherDay{color:#6D92D3;font-size: 9px;text-align:right;vertical-align:bottom;line-height: 10px;}
    
    .customMainTitle{color: #3892d3;font-size: 12px;font-weight: bold;font-family: helvetica,arial,verdana,sans-serif;}
    .customOtherTitle{color: gray;padding-left: 5px;padding-right: 3px;font-size: 11px;font-weight: normal;font-weight: bold;font-family: helvetica,arial,verdana,sans-serif;}
    .x-datepicker-date .x-hide-clip{display:none;}
    .x-datepicker-date
    {
        padding-left:2px;
    }
    .x-datepicker-date .otherDayExt
    {
        color:#6D92D3;font-size: 9px;text-align:right;vertical-align:bottom;line-height: 15px;
        margin-left: 1px;
    }
    
    .todayCell
    {
        background: #FFF4BF!important;
         cursor: pointer;
         color:#000;
         border:1px solid #BFA52F;
    }
      .selectedCell
    {
        background: lightgray!important;
         cursor: pointer;
         color:#000;
         border:1px solid #BFA52F;
    }
      .selectedmonth
    {
        background: #D9E5FB!important;
        padding:2px;
       
    }
     .dayCell:hover
     {
     	background-color: #E1FFC3;
     }

    .dayCell
    {
        cursor: pointer;
        line-height:18px!important;
    }

  .todayBtn { padding:5px 0; clear:both; display:block; border-top: 1px solid #B5C7D6; background-color:#D9E5FB;}
  a.btntoday{
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding:1px 5px;
    border-color: #BBBBBB;
     text-decoration:none;
     color:#333;
     margin: 2px;
     font-size:11px;
  }

  a.btntoday:hover{
     background-color: #F3F3F3;
    background-image: -moz-linear-gradient(center top , #FBFBFB, #E9E9E9);
    border-color: #9D9D9D;
  }

 closeBtn{ position:relative;}
  .closeBtn a{ text-decoration:none; font-size:16px; color:#333; font-weight:bold; display:block;}
   .closeBtn a:hover, .todayBtn a:hover{color:#1549B2;}
   .textfieldCalendarIcon{background:white url(../images/calendar.png) right no-repeat;background-position:98% 50%;}
.calendarMonthList{width:210px; background-color:#fff;}
.calendarMonthList td{text-align:center;padding:0px;width:30px;}
.calendarMonthList a:hover{color:#1549B2;cursor:pointer}
.calendarMonthList a{color: #5D8FD4;font-size:11px;}
.dateHeader a{cursor:pointer}

.left_call 
{   
	 /*background:url(../../2left_cal.png) no-repeat center left;*/
    
         width:10px;
         height:11px;
         border:0; }
         
.right_cal
{
    /*background:url(../../right_cal.png) no-repeat center left;*/
    width:6px;
    height:11px;
    border:0;}
    
 .right_call{ /*background:url(../../2right_cal.png) no-repeat center left;*/
              width:10px;
              height:11px;
              border:0; }  
              
  .left_cal{/*background:url(../../left_cal.png) no-repeat center left;*/ width:6px; height:11px; border:0;}