﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/HR.Master" AutoEventWireup="true" CodeBehind="AdminDynamicFormEmloyee.aspx.cs" Inherits="Web.DynamicForms.AdminDynamicFormEmloyee" %>
<%@ Register Src="~/DynamicForms/UserControls/DynamicFormEmp.ascx" TagName="EmpForm" TagPrefix="ucDFE" %>

<asp:Content ID="Content1" ContentPlaceHolderID="header1" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder_Main" runat="server">

<ucDFE:EmpForm Id="DynamicFormEmpCtrl" runat="server" />

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="pageScriptsContent" runat="server">
</asp:Content>
