﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LogoutCtl.ascx.cs" Inherits="Web.UserControls.LogoutCtl" %>
<asp:LinkButton ID="btnLogout" runat="server" CausesValidation="false" onclick="btnLogout_Click">Logout</asp:LinkButton>
<br />

