﻿<%@ Page Title="Charity Listing" Language="C#" MasterPageFile="~/Master/NewDetails.Master"
    AutoEventWireup="true" CodeBehind="CharityList.aspx.cs" Inherits="Web.NewHR.CharityList" %>

<%@ Register Src="~/newhr/UserControls/CharityCtl.ascx" TagName="GradeRewardCtl"
    TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
  
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder_Main" runat="server">
    <uc2:GradeRewardCtl runat="server" id="ctl" />
</asp:Content>
