﻿.wrap{
		width:1200px;
		margin:0px auto;
		overflow-y:scroll;
		overflow-x:hidden
}

body{
		font:12px Arial,Helvetica,sans-serif
}

html,body{
		height:98%
}

a[disabled],a[disabled="disabled"],a[disabled="true"],input[disabled],input[disabled="disabled"],input[disabled="true"],input[type="checkbox"][disabled]{
		cursor:default!important;
		text-decoration:none!important
}

textarea[disabled],textarea[disabled="disabled"],textarea[disabled="true"]{
		border:0px!important;
		color:#A0A0A0!important
}

#inline_example{
		width:350px;
		margin:0 auto
}

a img{
		border:none
}

a img{
		border:none;
		outline:0
}

a,input{
		outline:0
}

a{
		text-decoration:none;
		color:#3C7DB6
}

a:hover{
		color:#428BCA
}

label{
		padding:0px;
		/*width:120px;*/
		color:/*#666*/#000;
		font:12px Arial,Helvetica,sans-serifs;
		text-transform:normal;
		text-align:left
}

input[type='file']{
		border:1px solid #333;
		width:300px
}

.select{
		width:180px;
		float:left;
		border:1px solid #eaeaea;
		margin-right:20px
}

.emp_label{
		padding:0px 10px;
		width:120px;
		float:left;
		color:#2C2C2C;
		font:13px Arial,Helvetica,sans-serifs;
		text-transform:normal;
		text-align:left
}

.emp_label span{
		padding:2 2px
}

.tab_label{
		padding:0px 10px;
		width:160px;
		float:left;
		color:#2C2C2C;
		font:13px Arial,Helvetica,sans-serifs;
		text-transform:normal;
		text-align:left
}

.input_box{
		width:100%;
		float:left;
		color:#555;
		font:normal 13px Helvetica Neue,Helvetica,Arial,sans-serif;
		border:none;
		margin-top:5px;
		margin-bottom:5px
}

.emp_input{
		width:210px;
		padding:2px 2px;
		border:1px solid #ABADB3;
		color:#555
}

h1{
		font:bold 15px Arial,sans-serif;
		text-align:left;
		width:98%;
		padding:0px 1%
}

h1,h2,h3,.tableLightColor b{
		color:#666666
}

h3{
		
		width:100%;
		margin:0;
		padding:5px 0;
		font:bold 15px Arial,sans-serif
}

.bodypart h2{
		font-size:15px;
		margin:0;
		padding:0
}

.readmore{
		float:right;
		margin:5px 0px
}

.readmore a{
		color:#a40000;
		text-decoration:none;
		font-weight:bold;
		float:left;
		background:url(../images/read_more.jpg) no-repeat;
		text-transform:uppercase;
		font-size:11px;
		width:87px;
		height:18px;
		padding-top:5px
}

.readmore a:link,.readmore a:visited{
		color:#FFEBBF;
		text-decoration:none;
		font-weight:bold;
		float:left
}

.readmore a:hover{
		color:#FFffff;
		text-decoration:none;
		font-weight:bold;
		float:left
}

form strong{
		font:normal 12px Arial,Helvetica,sans-serif;
		color:#4F4F4F;
		margin-right:10px
}

table td{
		font:normal 12px Arial, Helvetica, sans-serif!important
/*        border: 1px solid #94C0D2;   */
}


.gridtbl thead td{
		background:#428bca;
		font-weight:normal;
		white-space:nowrap;
		color:#575757;
		padding:inherit!important;
		border-right:inherit;
}

/*grid header td*/

/*tbody .odd td{
		background:#eee;
		padding:2px 5px
}

tbody .even td,tbody .selected td{
		background:#fff;
		padding:2px 5px
}*/

.gridtbl tbody td{
		padding:inherit;
		padding-left:1px
}/*grid body td*/

.gridtbl .x-grid3-hd-over{
		color:gray
}/*grid column hovver*/

#wrapper{
		width:100%;
		float:left;
		/*background:#D6E4EC;*/
		margin:0;
		padding:0
}

#header{
		float:left;
		min-width:100%;
		height:69px;
		background-color:#428BCA;
		border:none
}

#login_header{
		background-color:#355D81;
		float:left;
		width:100%
}

.header,.contentpart{
		margin:0 auto;
		width:1200px
}

.logo{
		float:left;
		width:140px;
		padding-top:10px
}

.left_part{
		float:left;
		width:50%;
		text-align:left;
		font:normal 12px Arial,Helvetica,sans-serif
}

.right_part{
		float:right;
		width:auto;
		color:#999;
		text-align:right
}

.content_left{
		float:left;
		width:550px;
		text-align:left;
		font:normal 12px Arial,Helvetica,sans-serif
}

.content_right{
		float:left;
		width:550px;
		text-align:left;
		margin-left:70px
}

.field_set{
		border:1px solid #E4E4E4;
		width:100%;
		float:left;
		width:440px;
		padding:9px
}

legend{
		font:bold 15px/15px Arial,sans-serif;
		color:#666
}

.popupHeader span{
		font:normal 14px/14px Arial,sans-serif;
		color:#FFFFFF
}

.popupHeader h3{
		color:White;
		padding-left:20px;
		width:90%;
		padding-top:5px
}

.content_title{
		border:1px solid #BFD9FB;
		border-bottom-width:1px;
		margin-bottom:0px;
		color:#464646;
		float:left;
		font:normal 13px/13px Arial, sans-serif;
		padding:6px;
		width:554px;
		height:25px;
		clear:both;
		border-radius:3px 3px 0px 0px;
		background:#edf4fc;
		background:-moz-linear-gradient(top,#edf4fc 0%,#e5eff9 51%,#dbebfa 95%,#ddeafa 97%,#daeaf9 100%);
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#edf4fc),color-stop(51%,#e5eff9),color-stop(95%,#dbebfa),color-stop(97%,#ddeafa),color-stop(100%,#daeaf9));
		background:-webkit-linear-gradient(top,#edf4fc 0%,#e5eff9 51%,#dbebfa 95%,#ddeafa 97%,#daeaf9 100%);
		background:-o-linear-gradient(top,#edf4fc 0%,#e5eff9 51%,#dbebfa 95%,#ddeafa 97%,#daeaf9 100%);
		background:-ms-linear-gradient(top,#edf4fc 0%,#e5eff9 51%,#dbebfa 95%,#ddeafa 97%,#daeaf9 100%);
		background:linear-gradient(to bottom,#edf4fc 0%,#e5eff9 51%,#dbebfa 95%,#ddeafa 97%,#daeaf9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4fc', endColorstr='#daeaf9',GradientType=0 )
}

.content_title_nobg{
		margin-bottom:0px;
		color:#666;
		float:left;
		font:bold 15px/15px Arial,sans-serif;
		padding:6px 6px 15px 0px;
		width:554px;
		height:15px;
		clear:both
}

.marginbtns10{
		margin-bottom:10px;
		display:block;
		margin-right:10px
}

.content_box{
		width:550px;
		height:310px;
		background:#E8F1FF;
		float:left;
		font:normal 18px Arial,sans-serif;
		margin-top:0px;
		clear:both;
		border:1px solid #BFD9FB;
		border-width:0px 1px 1px 1px;
		margin-bottom:20px;
		min-height:80px;
		padding:8px;
		position:relative;
		border-radius:0px 0px 3px 3px
}

.left{
		float:left;
		width:auto;
		text-align:left;
		font:15px Arial,Helvetica,sans-serif
}

.right{
		float:right;
		/*width:50%;*/
		color:#999
}

.center{
		margin-left:50px;
		width:50%;
		color:#999
}

.right a{
		color:#1195C5;
		font:bold 12px Arial,Helvetica,sans-serif
}

.right a:hover{
		color:#24B5EC;
		text-decoration:underline
}

.login_header{
		font:italic bold 14px Arial,Helvetica,sans-serif;
		padding-top:70px;
		text-align:left;
		padding-left:0px;
		padding-bottom:20px
}

.login_title{
		text-align:left;
		padding-bottom:10px;
		float:left;
		width:100%;
		height:30px
}

.main_part{
		width:100%;
		float:left;
		margin-top:30px
}

.main_login{
		width:442px;
		float:left;
		background:#4980b1;
		border:0px solid #10B0EA;
		padding:20px 15px;
		margin-bottom:50px
}

.input{
		width:190px;
		height:20px;
		padding:5px;
		float:left;
		background:#DBDBDB;
		color:#3C2B2F;
		font:bold 16px Helvetica Neue,Helvetica,Arial,sans-serif;
		border:none;
		margin-top:10px
}

.search{
		width:140px;
		padding:3px 4px;
		float:left;
		background:#D7d7d7;
		color:#999;
		font:normal 12px Arial,Helvetica,sans-serif;
		border:none;
		margin-right:10px
}

.submit{
        width:100px;
		height:30px;
		float:right;
        color:#FFF;
		background:#f96;
		border:0px solid #FFF;
		margin-top:15px;
		margin-right:0px;
		cursor:pointer;
		text-align:right
}

.company_name{
		float:left;
		width:755px;
		padding-top:10px;
		height:94px;
		font:bold 15px Arial,sans-serif;
		color:white;
		font-style:italic;
		padding-left:16px;
		text-align:center
}

.company_name strong{
		font:bold 42px Arial,sans-serif;
		font-style:italic
}

.top_head{
/*float:right; */
		width:1200px;
		text-align:right;
		font:normal 11px Arial,sans-serif;
		color:#BAE0EE
}

.login_head{
		float:right;
		width:1200px;
		height:24px;
		padding-top:10px;
		padding-right:25px;
		text-align:right;
		font:normal 12px Georgia,serif;
		color:#BAE0EE
}

.top_text{
		float:left;
		height:24px;
		padding-top:10px;
		padding-bottom:0px;
		text-align:right;
		font:normal 14px Arial,sans-serif;
		color:#BAE0EE;
		letter-spacing:0px;
		text-transform:uppercase
}

.below_text a{
		font-weight:normal;
		color:#fff;
		padding-right:10px
}

.below_text a:hover{
		font-weight:normal;
		color:#BAE0EE
}

#sec_nav{
		width:100%;
		float:left;
/*		background:#f0f0f0; */
		border-bottom:1px solid #82B3FF;
		height:1px
}

.login_part{
		width:470px;
		margin:0 auto;
		margin-top:27px
}

#navigation{
		float:right;
		width:100%
/*padding-top:17px;*/
}

.navigation{
		width:100%;
		float:right;
		font:bold 11px Verdana,Arial,Helvetica,sans-serif;
		color:white
/*padding-top:10px;*/
}

#navigation ul{
		float:right;
		width:100%;
		margin:0px;
		padding:0px
}

#bodypart{
		width:100%;
		float:left;
		display:block;
/*		background-color:#c6dcff; */
		background-color:white!important;
		min-height:690px;
		height: auto !important;
		height:690px;
		padding-bottom:20px;
		padding-top:0px;
		border:0px 1px solid #C5E2FF
}

.bodypart{
		width:1200px;
		/*margin:0 auto;*/
		margin-left:8px;
		margin-top:18px;
		background-color:transparent
}

.content{
		width:100%;
		float:left;
		padding:5px 0px
}

.button{
		float:left;
		background:url(../images/main_btt.jpg) repeat-x;
		border:1px solid #cecece;
		-moz-border-radius:3px;
		padding:3px 4px;
		margin-right:10px;
		font:bold 12px Arial,Helvetica,sans-serif;
		text-align:center
}

.fieldTable td,table tr.up td{
		/*padding-top:5px*/
}

.fieldHeader{
		text-align:left;
		color:#2C2C2C;
		width:140px;
}

.fieldHeaderLabel{
		color:#2C2C2C
}

.fieldHeader span{
		padding-right:0px
}

.emp_button a{
		float:left;
		background:#1D9AC8;
		padding:3px 4px;
		margin-right:10px;
		color:#fff;
		width:66px;
		text-align:center;
		font:bold 12px Arial,Helvetica,sans-serif
}

.our_products{
		width:185px;
		min-height:561px;
		float:left;
		color:#000
}

.our_products .title{
		color:#ffffff;
		background:url(../images/left_title.png) repeat;
		font:bold 12px Arial,Helvetica,sans-serif;
		text-align:left;
		text-transform:normal;
		width:170px;
		height:25px;
		padding:7px 0px 0px 15px;
		float:left
}

.our_products .description{
		color:#ffffff;
		font:bold 12px Arial,Helvetica,sans-serif;
		text-align:left;
		text-transform:normal;
		width:170px;
		padding:7px 0px 0px 15px;
		float:left
}

* html .our_products .description{
		padding:5px 0px 0px 15px
}

.description a{
		width:100%;
		float:left;
		padding:3px 0px
}

.sub-menu{
		width:98%;
		margin:0 auto;
		width:1200px
}

.sub-menu a,.breadcrumb a{
		color:#687837;
		text-decoration:underline
}

.sub-menu ul{
		margin:0;
		padding:0;
		float:left
}

.sub-menu ul li{
		float:left;
		list-style:none;
		padding:5px 3px 5px 3px
}

.nav_bar_d{
		clear:both;
		height:30px;
		margin:0 auto;
		width:100%;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 1px;
		background:#ffffff;
		background:-moz-linear-gradient(top,#ffffff 0%,#f6f7f8 100%);
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f6f7f8));
		background:-webkit-linear-gradient(top,#ffffff 0%,#f6f7f8 100%);
		background:-o-linear-gradient(top,#ffffff 0%,#f6f7f8 100%);
		background:-ms-linear-gradient(top,#ffffff 0%,#f6f7f8 100%);
		background:linear-gradient(to bottom,#ffffff 0%,#f6f7f8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f7f8',GradientType=0 )
}

.nav_bar_d ul{
		list-style:none;
		padding:0px;
		margin:0 auto;
		width:1200px
}

.nav_bar_d ul li{
		float:left;
		background:url(images/sep.gif) no-repeat right;
		height:28px
}

.nav_bar_d ul li a{
		padding:0 7px;
		font:normal 12px/32px Arial;
		color:#666666
}

.nav_bar_d ul li:first-child a{
		padding:0px 12px 0px 2px
}

.nav_bar_d a:link{
		font-weight:normal
}

.nav_bar_d a:visited{
		font-weight:normal;
		color:#666666
}

.breadcrumb{
		width:98%;
		padding:10px 1%;
		float:left;
		text-align:left;
		font:11px Arial,Helvetica,sans-serif;
		color:#333
}

.breadcrumb a:hover{
		color:#333;
		text-decoration:none
}

.breadcrumb ul{
		margin:0;
		padding:0;
		width:100%;
		float:left;
		list-style:none;
		border-top:1px solid #ccc;
		margin-bottom:3px;
		padding:5px 0
}

.breadcrumb ul li{
		float:left;
		list-style:none;
		width:80px;
		padding:0 5px
}

.product_display{
		width:552px;
		float:left;
		padding:0px
}

.tab{
		width:162px;
		height:192px;
		float:left;
		margin-left:22px;
		_margin-left:2px;
		margin-top:10px;
		text-align:center
}

.tab .image_area{
		width:159px;
		height:159px;
		padding:0px;
		margin:0px
}

.tab .image_area img{
		width:158px;
		height:158px
}

.tab .tab_content{
		float:left;
		width:96%;
		padding:2%;
		color:#FFF2D7;
		text-transform:uppercase;
		font:11px Arial,Helvetica,sans-serif
}

.tab .product_details{
		float:left;
		padding:2%;
		width:96%;
		color:#333;
		text-transform:none;
		font:11px Arial,Helvetica,sans-serif;
		text-align:justify;
		line-height:18px
}

.tab_content a{
		text-decoration:none
}

.product_showcase{
		width:516px;
		float:left;
		font:12px Arial,Helvetica,sans-serif;
		color:#333;
		text-align:justify;
		line-height:16px
}

.ad{
		float:left;
		width:183px;
		background:url(../images/right.jpg) repeat-y bottom #BEC782;
		height:521px;
		padding:20px
}

.ad a img{
		padding-bottom:20px
}

.footer_link{
		width:100%;
		float:left;
		padding:15px 5px;
		font:bold 12px Arial,Helvetica,sans-serif;
		color:#fff;
		text-align:left;
		background:transparent
}

.footer_link a{
		color:#fff;
		text-align:center
}

#footer{
		width:100%;
		display:block;
		clear:both;
		font:normal 12px Helvetica,sans-serif;
		height:15px;
		bottom:0
}

.footer_content{
		color:#1195C5;
		left:0px;
		bottom:0px;
		height:25px;
		width:100%;
		float:left;
		text-align:center;
		padding-top:15px
}

.tableLightColor{
		border-collapse:collapse;
		color:#000;
		font:12px Arial,Helvetica,sans-serif;
		padding:4px;
		border:1px solid #DFECFD
}

.tableLightColor a{
		color:#356FA1;
}

.tableLightColor a:hover{
		color:#0E83AE;
		text-decoration:underline
}

.tableLightColor th
{
        color:#fff;
        font-family:Arial,sans-serif;
        /*font-weight:bold;*/
        font-size:13px;
		border:1px solid #47759E;
		min-height:30px;
		height:24px!important;
		vertical-align:middle;
		background:#47759E;
		padding-left:4px;
}

.tableLightColor .selected td{
		background:none repeat scroll 0 0 #EAF3FE;
		border-bottom:1px solid #DFECFD;
		border-right:0px solid #DFECFD;
		border-top:1px solid #DFECFD;
		border-left:0px solid #DFECFD;
		height:23px
}

.tableLightColor .odd td{
		background:none repeat scroll 0 0 #fafcff;
		border-bottom:1px solid #DFECFD;
		border-right:0px solid #DFECFD;
		border-top:1px solid #DFECFD;
		border-left:0px solid #DFECFD;
		padding:2px 5px;
		font:plain;
		height:23px
}

.tableLightColor .even td{
		border-bottom:1px solid #DFECFD;
		border-right:0px solid #DFECFD;
		border-top:1px solid #DFECFD;
		border-left:0px solid #DFECFD;
		height:23px;
		padding:2px 5px;
}

.tableLightColor input{
		font-size:12px!important
}

.sortLink a{
		color:#FFF;
		font-weight:normal;
		/*text-transform:uppercase*/
}

.sortLink:hover{
		color:#FFF;
}

.buttonGreen{
		background-color:#69CB33 !important;
		border-color:#55B125 #4B9E21 #4B9E21 #55B125;
		background:url("/images/sprites.png") repeat-x scroll left top,url("/images/sprites.png") no-repeat scroll 0 -50px transparent;
		color:#FFFFFF;
		text-shadow:1px 1px 1px rgba(30,30,30,0.15);
		padding:6px 18px 5px;
		width:50px;
		height:15px;
		position:relative;
		z-index:99999;
		border-style:solid;
		border-width:1px;
		display:inline-block !important;
		font:bold 11px/15px Tahoma,sans-serif;
		float:left;
		text-align:center;
		text-decoration:none;
		white-space:nowrap
}

.buttonGreen:hover{
		background-color:#74DC20 !important;
		border-color:#55B125 #4B9E21 #4B9E21 #55B125;
		color:#FFFFFF
}

.mainFieldset{
		width:451px;
		height:280px;
		background:#E7F1FD;
		float:left;
		font:bold 18px Arial,Helvetica,sans-serif;
		margin-top:0px;
/*		    -moz-box-shadow: 1px 1px 3px #DDDDDD;     */
		border:1px solid #A5DEFA;
		border-width:1px 1px 1px;
		margin-bottom:20px;
		min-height:80px;
		padding:8px;
		position:relative
}
/*---

Developed by Er.Sudan Prajapati
on march 24 2011

*/

.btns{
		width:100%
}

.colLeft,.colRights{
		display:inline-block
}

.row{
		width:1200px;
		margin:0px auto 5px
}

.breadcum{
		clear:both;
		height:21px;
		margin:0px;
		padding-top:5px;
		width:100%;
/*		background:#f2f6fd;
		background:-moz-linear-gradient(top,#f2f6fd 0%,#e8f1ff 3%,#e7f0fd 100%);
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f2f6fd),color-stop(3%,#e8f1ff),color-stop(100%,#e7f0fd));
		background:-webkit-linear-gradient(top,#f2f6fd 0%,#e8f1ff 3%,#e7f0fd 100%);
		background:-o-linear-gradient(top,#f2f6fd 0%,#e8f1ff 3%,#e7f0fd 100%);
		background:-ms-linear-gradient(top,#f2f6fd 0%,#e8f1ff 3%,#e7f0fd 100%);
		background:linear-gradient(to bottom,#f2f6fd 0%,#e8f1ff 3%,#e7f0fd 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6fd', endColorstr='#e7f0fd',GradientType=0 );
		border-top:1px solid #d0ddf0;
		border-bottom:1px solid #d0ddf0*/
}

div.wizard{
		clear:both;
		float:left;
		height:30px;
		width:1200px
}

div.wizard ul{
		font:14px Arial,sans-serif;
		margin:0;
		padding:0
}

div.wizard ul li{
/*    background: url("/common/images/wizards/arrow-4c9ee5.gif") no-repeat scroll right top transparent; */
		display:block;
		float:left;
		height:20px;
		padding-left:3px;
		padding-right:10px;
		padding-top:1px;
		margin-right:5px
}

div.wizard ul li.selected{
/*    background: url("images/backgroundselected.gif") no-repeat scroll right top transparent; */
		color:White
}

div.wizard ul li.arrowSelected{
		background:url("/images/wizards/arrowselected.gif") no-repeat scroll right top transparent
}

div.wizard ul li.first,div.setup-steps ul li,.tblexp tr td,.plainSpinner{
/*padding-left: 22px;*/}

div.wizard ul li.end{
		background:none repeat scroll 0 0 transparent
}

div.setup-steps{
		height:28px;
		padding-left:10px
}

div.setup-steps ul li.selected{
/*background: url("images/arrow-sel.gif") no-repeat scroll right center transparent;*/
		font-weight:normal;
		color:Green
}

div.setup-steps ul li.selected a{
		color:#009127;
		font:bolder 11px/Arial,Helvetica,sans-serif
}

div.setup-steps ul li.arrowSelected{
		background:url("images/arrow-sel.gif") no-repeat scroll right center transparent
}

div.setup-steps ul{
		color: #048FC2 important!;
		font:11px Tahoma,sans-serif
}

div.setup-title,div.setup-body{
		clear:both;
		float:left;
		width:88em
}

input.inputs{
		background:url("images/shadow.gif") repeat-x scroll center top #FFFFFF;
		border-color:#7C7C7C #C3C3C3 #DDDDDD;
		border-style:solid;
		border-width:1px;
		color:#333333;
		font-size:100%;
		margin:0;
		padding:2px 0;
		width:290px
}

label.search{
		padding-right:10px
}

.marginRight{
		margin-right:10px
}
/*----------content Area-------------*/

.contentArea{
		margin-top:0px;
		margin-bottom:15px;
		padding:0 0px
}

label.focus{
		font:bold 13px Arial;
		width:150px;
		padding-right:10px;
		float:left
}

.save{
		display:inline-block;
		height:30px!important;
		width:90px;
		text-decoration:none;
/*margin-left: 15px;*/
		margin-right:15px;
		outline:none;
		cursor:pointer;
		font:bold 12px/1em HelveticaNeue,Arial,sans-serif;
		padding:7px 10px;
		color:#fff;
/*text-shadow: 0 1px 0 #fff;*/
		background:#377ad0;
		background:-webkit-gradient(linear,left top,left bottom,from(#52a8e8),to(#377ad0));
		background:-moz-linear-gradient(top,#52a8e8,#377ad0);
		border:1px solid #dedede;
		border-color:#4081af #2e69a3 #20559a;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-box-shadow:0 1px 2px #d6d6d6,inset 0 1px 1px #72b9eb;
		-moz-box-shadow:0 1px 2px #d6d6d6,inset 0 1px 1px #72b9eb;
		box-shadow:0 1px 2px #d6d6d6,inset 0 1px 1px #72b9eb
}

.save:hover,.save:focus{
		color:#fff;
		background: ##206bcb;
		background:-webkit-gradient(linear,left top,left bottom,from(#3e9ee5),to(#206bcb));
		background:-moz-linear-gradient(top,#3e9ee5,#206bcb);
		border-color:#2a73a6 #165899 #07428f;
		-webkit-box-shadow:0 1px 0 0 #fff,inset 0 1px 0 0 #62b1e9;
		-moz-box-shadow:0 1px 0 0 #fff,inset 0 1px 0 0 #62b1e9;
		box-shadow:0 1px 0 0 #fff,inset 0 1px 0 0 #62b1e9
}

.save:active{
		position:relative;
		top:1px;
		background:#3282d3;
		border-color:#154c8c #154c8c #0e408e;
		-webkit-box-shadow:0 1px 0 0 #fff,inset 0 0 6px 3px #1657b5;
		-moz-box-shadow:0 1px 0 0 #fff,inset 0 0 6px 3px #1657b5;
		box-shadow:0 1px 0 0 #fff,inset 0 0 6px 3px #1657b5
}

.cancel{
		display:inline-block;
		text-decoration:none;
		width:90px;
		outline:none;
		cursor:pointer;
		font:bold 12px/1em HelveticaNeue,Arial,sans-serif;
		padding:7px 10px;
		margin-right:15px;
		color:#555;
		text-shadow:0 1px 0 #fff;
		height:32px;
		background:#f5f5f5;
		background:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#f0f0f0));
		background:-moz-linear-gradient(top,#f9f9f9,#f0f0f0);
		border:1px solid #dedede;
		border-color:#dedede #d8d8d8 #d3d3d3;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-box-shadow:0 1px 2px #eaeaea,inset 0 1px 0 #fbfbfb;
		-moz-box-shadow:0 1px 2px #eaeaea,inset 0 1px 0 #fbfbfb;
		box-shadow:0 1px 2px #eaeaea,inset 0 1px 0 #fbfbfb
}

.cancel:hover,.cancel:focus{
		color:#555;
		background:#efefef;
		background:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#e9e9e9));
		background:-moz-linear-gradient(top,#f9f9f9,#e9e9e9);
		border-color:#ccc;
		-webkit-box-shadow:0 2px 1px #e0e0e0,inset 0 1px 0 #fbfbfb;
		-moz-box-shadow:0 2px 1px #e0e0e0,inset 0 1px 0 #fbfbfb;
		box-shadow:0 1px 2px #e0e0e0,inset 0 1px 0 #fbfbfb
}

.cancel:active{
		position:relative;
		top:1px;
		color:#555;
		background:#efefef;
		background:-webkit-gradient(linear,left top,left bottom,from(#eaeaea),to(#f4f4f4));
		background:-moz-linear-gradient(top,#eaeaea,#f4f4f4);
		border-color:#c6c6c6;
		-webkit-box-shadow:0 1px 0 #fff,inset 0 0 5px #ddd;
		-moz-box-shadow:0 1px 0 #fff,inset 0 0 5px #ddd;
		box-shadow:0 1px 0 #fff,inset 0 0 5px #ddd
}

.createbtns{
		display:inline-block;
		text-decoration:none;
		width:90px;
		height:18px;
		outline:none;
		cursor:pointer;
		font:bold 12px/1em HelveticaNeue,Arial,sans-serif;
		padding:6px 10px;
		margin-right:15px;
		color:#fff;
		text-align:center;
		background:#ee8f1f;
		background:-webkit-gradient(linear,left top,left bottom,from(#f5b026),to(#f48423));
		background:-moz-linear-gradient(top,#f5b026,#f48423);
		border:1px solid #e6791c;
		border-color:#e6791c #e6791c #d86f15;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-box-shadow:0 1px 2px #d7e9a4,inset 0 1px 0 #f8d898;
		-moz-box-shadow:0 1px 2px #d7e9a4,inset 0 1px 0 #f8d898;
		box-shadow:0 1px 2px #d7e9a4,inset 0 1px 0 #f8d898
}

.createbtns:hover,.createbtns:focus{
		color:#fff;
		background:#e38512;
		background:-webkit-gradient(linear,left top,left bottom,from(#ffbb33),to(#eb7b1a));
		background:-moz-linear-gradient(top,#ffbb33,#eb7b1a);
		border-color:#d0680c;
		-webkit-box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #ffdf9e;
		-moz-box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #ffdf9e;
		box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #ffdf9e
}

.createbtns:active{
		position:relative;
		top:1px;
		color:#fff;
		background:#ee8f1f;
		border-color:#d0680c;
		-webkit-box-shadow:0 1px 0 #fff,inset 0 0 5px #d0680c;
		-moz-box-shadow:0 1px 0 #fff,inset 0 0 5px #d0680c;
		box-shadow:0 1px 0 #fff,inset 0 0 5px #d0680c
}

.delete{
		display:inline-block;
		text-decoration:none;
		width:90px;
		outline:none;
		cursor:pointer;
		font:bold 12px/1em HelveticaNeue,Arial,sans-serif;
		padding:6px 10px;
		margin-right:15px;
		color:#fff;
		height:32px;
		background:#995dc8;
		background:-webkit-gradient(linear,left top,left bottom,from(#c785e5),to(#995dc8));
		background:-moz-linear-gradient(top,#c785e5,#995dc8);
		border:1px solid #7c45aa;
		border-color:#7c45aa #7c45aa #5d288a;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-box-shadow:0 1px 2px #eaeaea,inset 0 1px 0 #ce8ded;
		-moz-box-shadow:0 1px 2px #eaeaea,inset 0 1px 0 #ce8ded;
		box-shadow:0 1px 2px #eaeaea,inset 0 1px 0 #ce8ded
}

.delete:hover,.delete:focus{
		color:#fff;
		background:#8b50ba;
		background:-webkit-gradient(linear,left top,left bottom,from(#cc8aea),to(#884eb8));
		background:-moz-linear-gradient(top,#cc8aea,#884eb8);
		border-color:#5d288a;
		-webkit-box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #ce8ded;
		-moz-box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #ce8ded;
		box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #ce8ded
}

.delete:active{
		position:relative;
		top:1px;
		color:#fff;
		background:#995dc8;
		border-color:#5d288a;
		-webkit-box-shadow:0 1px 0 #fff,inset 0 0 5px #5d288a;
		-moz-box-shadow:0 1px 0 #fff,inset 0 0 5px #5d288a;
		box-shadow:0 1px 0 #fff,inset 0 0 5px #5d288a
}

.update{
		display:inline-block;
		text-decoration:none;
		width:90px;
		outline:none;
		cursor:pointer;
		font:bold 12px/1em HelveticaNeue,Arial,sans-serif;
		padding:6px 10px;
		margin-right:15px;
		color:#fff;
		height:32px;
		background:#7fbf4d;
		background:-webkit-gradient(linear,left top,left bottom,from(#7fbf4d),to(#63a62f));
		background:-moz-linear-gradient(top,#7fbf4d,#63a62f);
		border:1px solid #63a62f;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-box-shadow:0 1px 2px #d6d6d6,inset 0 1px 0 #96d865;
		-moz-box-shadow:0 1px 2px #d6d6d6,inset 0 1px 0 #96d865;
		box-shadow:0 1px 2px #d6d6d6,inset 0 1px 0 #96d865
}

.update:hover,.update:focus{
		color:#fff;
		background:#76b347;
		background:-webkit-gradient(linear,left top,left bottom,from(#86c755),to(#5ea12a));
		background:-moz-linear-gradient(top,#86c755,#5ea12a);
		border-color:#53961e;
		-webkit-box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #96d865;
		-moz-box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #96d865;
		box-shadow:0 0 1px #d6d6d6,inset 0 1px 0 #96d865
}

.update:active{
		position:relative;
		top:1px;
		color:#fff;
		background:#7fbf4d;
		border-color:#53961e;
		-webkit-box-shadow:0 1px 0 #fff,inset 0 0 5px #53961e;
		-moz-box-shadow:0 1px 0 #fff,inset 0 0 5px #53961e;
		box-shadow:0 1px 0 #fff,inset 0 0 5px #53961e
}

.addemployee{
		height:25px;
		clear:both;
		display:block;
		width:136px;
		border:0 none;
		color:#0D83DD;
		cursor:pointer;
		font:bold 11px/28px Arial;
		background:url("images/add-employee.png") no-repeat left center;
		height:28px;
		margin-left:10px;
		padding-left:12px;
		text-align:center
}

.addemployee:hover,.excel:hover{
		text-decoration:underline;
		color:#0D83DD
}

.excel{
		width:146px;
		height:28px;
		font:bold 11px/28px Arial;
		background:url("images/excel.png") no-repeat left center;
		color:#0D83DD;
		text-align:center;
		border:0px;
		cursor:pointer;
		margin-left:10px;
		padding-left:3px
}

.marginTop{
		margin:15px 0
}
/*.save:hover{background:url(../images/btns.png) no-repeat left -30px;}*/

.innertable td.lf{
		width:150px;
		text-align:left;
		padding-right:10px
}

.innertable td,table tr.pads td,table.hrinfosinner tr td,td.lbling{
		padding-bottom:10px
}

.invalid{
		border:2px solid #ff0000;
		padding:5px;
		clear:both;
		display:none;
		margin-bottom:10px
}

.clear{
		clear:both
}

.gridBlock{
		overflow:auto
}

.grid tr th{
		text-align:left
}

.alt{
		height:25px;
		width:107px;
		font:normal 12px/25px Arial;
		color:#fff;
		background:url(../images/alterntaive.png) no-repeat left top;
		margin-right:10px;
		border:0
}

.alt:hover{
		background:url(../images/alterntaive.png) no-repeat left bottom
}

.lngBtn{
		height:25px;
		clear:both;
		display:block;
		width:150px;
		font:normal 12px/25px Arial;
		color:#fff;
		background:url(../images/lng.png) no-repeat left top;
		margin-right:10px;
		border:0
}

.lngBtn:hover{
		background:url(../images/lng.png) no-repeat left bottom
}

.leftbtn,table.alignttable tr td input,table.alignttable tr td select,.floatleft{
		float:left
}

.rightbtn,.floatright{
		float:right
}

.tablforall tr td{
		padding:0 5px 10px 0
}

.separator{
		margin:10px 0;
		display:block
}

.labeltag{
		width:130px;
		margin-right:10px;
		float:left
}
/*------------------------
Developed by Er. Sudan Prajapati
For payroll
------------------------*/

.section{
		width:320px
}

.summarySelect{
		padding-bottom:10px;
		overflow:hidden
}

.summarySelect label{
		padding-right:10px;
		float:left
}

.summarySelect select{
		width:150px;
		float:left
}

.row{
		margin:0px auto;
		width:1200px
}

.col{
		float:left;
		display:inline-block
}

.marginRight{
		margin-right:40px
}

.leftPanel{
		float:left;
		margin-right:10px;
		width:700px
}

.RightPanel{
		float:left;
		width:200px
}

.sectionThird{
		padding:13px;
		text-align:left
}

.section h2{
		-moz-border-radius:3px 3px 0 0;
		-moz-box-shadow:1px 1px 3px #DDDDDD;
		-webkit-border-radius:3px 3px 0 0;
		-webkit-box-shadow:1px 1px 3px #DDDDDD;
		background-color:#048FC2;
		border-bottom-width:0;
		margin-bottom:10px;
		padding:5px;
		width:320px;
		color:#FFFFFF;
		text-align:center;
		font:bold 14px/14px Arial,sans-serif
}

.subsection{
		width:312px;
		-moz-box-shadow:1px 1px 3px #DDDDDD;
		-webkit-bok-shadow:1px 1px 3px #DDDDDD;
		margin-bottom:20px;
		min-height:80px;
		padding:8px
}

.subsection img,td.centers{
		text-align:center
}

.marginbtns{
		margin-bottom:8px
}

.manage{
		margin-top:20px;
		margin-bottom:15px;
		padding:10px;
		border:1px solid #C5E2FF
}

.manage_changepassword{
		border:1px solid #C5E2FF;
		margin-bottom:15px;
		margin-top:20px;
		padding:20px;
		width:332px
}
/*.createbtns:hover{
		background:url(images/create.png) no-repeat left  -30px!important;
		color:#FFF!important;
}*/
/*.create{ background:url(images/create.gif) no-repeat left top; display:block;  padding-left:15px;  width:166px; border:0px; height:28px; font:normal 12px/28px Arial;  color:#0E9DD2;}
*/

.companytabl tr td{
		padding-bottom:6px
}

.sectionsub{
		-moz-box-shadow:0 0 5px #ccc;
		-webkit-box-shadow:0 0 5px #ccc;
		box-shadow:0 0 5px #ccc;
		width:500px
}

fieldset .sectionsub{
		border:0px;
		padding-left:0
}

.sectionsub h3{
		padding:5px
}

.attribute{
		display: block;
float: left;
width: 100%;
/* padding-top: 10px; */
padding-bottom: 10px;
/* padding-left: 10px; */
margin: 0px 0 15px 0;
background-color: #fcfcfc;
border: 1px solid #DDDDDD;
border-radius: 4px;
color: #4E5154!important; 
/* padding: 12px; */
}

.pageNav{
		padding:10px;
		display:block
}


.colRight{
		float:right;
		display:inline-block
}

.searchfield{
		width:211px;
		height:26px;
		padding:0 10px 0 5px;
		line-height:20px;
		background:url("images/search.png") no-repeat;
		border:0px
}

.marginTop,.margintops{
		margin-top:10px
}

.marginBtms{
		margin-bottom:10px;
		display:block
}

.employeebtns{
		background:url("images/employee.png") no-repeat scroll left top transparent;
		color:#0E9DD2;
		display:block;
		font:12px/28px Arial;
		height:28px;
		padding-left:15px;
		width:210px
}
/*paging block*/

.PaginationBar{
		background:#F9F9F9;
        border:1px solid #DDDDDD;
        border-top: 0px;
		color:#333333;
		line-height:15px;
		padding-bottom:10px;
		padding-top:10px;
		font:normal 11px Arial;
		margin-right:6px;
		width:99.9%;clear:both;
}

.PaginationBar select{
		font-family:tahoma,sans-serif;
		font-size:11px;
		height:20px;
		line-height:normal;
		width:50px
}

.PaginationBar .PaginationFadedText{
		color:#555555
}

.PaginationBar a{
		font-weight:bold
}

.chkbox input{
		margin:1px 5px 0 10px
}
/*error message div*/

div.bg-red{
		background-color:#FFFFFF;
		border-color:#E70101
}

div.bg-orange{
		background-color:#FFFFFF;
		border-color:#FB8200
}

div.notify{
		border-radius:5px 5px 5px 5px;
		border-style:solid;
		border-width:1px;
		box-shadow:1px 1px 3px #DDDDDD;
		padding:5px;
		clear:both;
		margin-top:10px;
		margin-bottom:10px;
		width:1140px;
		overflow:hidden
}

div.bg-red em{
		background-position:0 -132px/*-189px -120px;*/
}

div.bg-orange em{
		background-position:0 -99px
}

div.notify em{
		background-color:transparent;
		background-image:url("../images/big-icons.png");
		background-repeat:no-repeat;
		height:32px;
		width:32px;
		display:inline-block;
		float:left
}

.message{
		padding:9px 0 0 10px;
		display:inline-block;
		float:left
}

div.notify message{
		display:inline
}

.load{
  background: #C6DCFF;
  color:#686868;
  padding: 7px 32px 7px 32px!important;
  text-decoration:none;
  font-weight:normal;
  margin-top:0px;
  min-width:120px;
  text-align:center;
  border: 1px solid #fff;
  height:30px!important;
}

.load:hover,.load:focus {
  background: #32587B;
  color:White;
  text-decoration: none;
  cursor:pointer;
}

.attendence{
		width:1080px;
		margin:0px auto;
		overflow-y:hidden;
		overflow-x:scroll;
		margin-bottom:10px
}

.notify bg-red bigger,#ctl00_mainContent_ErrorMsgCtl1_msgText{
		color:#ff0000!important
}
/*search box text*/

.searchBoxText{
		color:#999999;
		width:180px;
		font-size:small;
		text-align:left;
}

.buttonsDiv{
		margin-top:20px;
		margin-bottom:10px;
		text-align:right;
		background:#FCFCFC;
		border:1px solid #DDDDDD;
		display:block;
		float:right;
		margin:5px 0px;
		padding:10px 10px 10px 10px;
		width:100%;
		border-radius: 4px;
        margin-left:0px;
        
}

.buttonsDivNarrow{
		margin-top:20px;
		margin-bottom:10px;
		text-align:right;
/*		background: #F4F9FD !important;
		border: 1px solid #C5E2FF;
		border-width: 1px 1px 1px 1px;*/
		display:block;
		float:right;
		margin:5px 0px;
		padding:10px 0px 10px 0px;
		width:100%;
		margin-left:0px;
		padding-right:280px
}

.employeSector{
		float:left;
		width:320px;
		padding-left:20px
}

.employeSectors{
		float:left;
		width:374px;
		margin-right:20px
}

.employeSector label.tab_label,.employeSector label.emplLbl{
		width:100px;
		text-align:left;
		padding-right:5px
}

.employeSector label.emplLbl,.employeSector input,.employeSector textarea{
		float:left;
		overflow:auto;
		resize:none
}

.ajax__tab_xp .ajax__tab_body{
		background:#E9F0FB;
		overflow:hidden
}

.addbtns{
		cursor:pointer;
		width:83px;
		height:28px;
		border:0;
		background:url(images/add.gif) no-repeat left top;
		font:normal 12px/28px Arial;
		color:#0E9DD2;
		padding-bottom:2px
}

.marginRights{
		margin-right:50px
}

table.tabs tr td.lf{
		width:142px;
		padding-bottom:15px;
		text-align:left;
		padding-right:5px
}

table.tabs tr td{
		vertical-align:top
}

.browse{
		cursor:pointer;
		background:url(images/browse.gif) no-repeat left top;
		width:27px;
		height:20px;
		border:0;
		vertical-align:top;
		margin-left:2px
}

.changeHistory{
		cursor:pointer;
		background:url(images/change.png) no-repeat left top;
		width:39px;
		height:20px;
		border:0px;
		vertical-align:top;
		margin-left:2px
}

.go{
		background:url(images/go.gif) no-repeat left top;
		width:40px;
		height:22px;
		border:0
}

.ok{
		cursor:pointer;
		background:url(images/ok.png) no-repeat left top;
		width:87px;
		height:28px;
		border:0;
		text-align:center;
		font:bold 12px/28px Arial;
		color:#fff
}

.ok:hover{
		cursor:pointer;
		background:url(images/ok.png) no-repeat left bottom
}
/*----------hrInformation-------------*/

table.hrinfosinner tr td.lbling{
		padding-right:5px;
		text-align:left
}

.colselect{
		float:left;
		margin-right:15px
}
/*-- hRpage----------------*/

.leftContents{
		float:left;
		width:400px
}

table.hr tr td{
		padding-bottom:8px
}

.rightContents{
		float:right;
		width:445px
}

.wraperall{
		padding-top:15px
}

span.pad{
		padding:8px 0;
		display:block
}

label.lblingText,span.lblingText{
		width:110px;
		padding-right:10px;
		text-align:left;
		float:left
}

h2.headlinespop{
		font:bold 14px/30px Arial;
		color:#FFF;
		padding-left:25px
}

.marginal{
		margin:20px 20px 0 20px;
		overflow:hidden
}

.fields p{
		margin-bottom:10px;
		overflow:hidden;
		clear:both
}

.paddpop{
		padding:10px 0 0 10px!important
}/*width:432px!important;}*/
/*------------------complex popup---------------------*/

fieldset.large-heading{
		width:500px;
		margin:0px 0;
		border:0
}

fieldset.large-heading h2{
		color:#333333;
		font:bold 14px Arial,sans-serif
}/*margin-bottom:5px; padding-bottom:5px; background:url(images/headingseperator.gif) repeat-x bottom;}*/

fieldset.large-heading table tr td label{
		font:normal 12px Arial,sans-serif;
		color:#333;
		padding-right:10px
}

.paddinAll{
		padding:10px
}

input.smallupdate{
		border:0px;
		width:87px;
		height:26px;
		background:url(images/smallupdate.png) no-repeat left top;
		font:normal 11px/20px Arial;
		color:#fff;
		text-align:center
}

input.smallcancel,input.smallcancel2{
		border:0px;
		width:87px;
		height:26px;
		background:url(images/smallcancel.png) no-repeat left top;
		font:normal 11px/20px Arial;
		color:#fff;
		text-align:center
}

input.smalladd{
		border:0px;
		width:87px;
		height:26px;
		background:url(images/smalladd.png) no-repeat left top;
		font:normal 11px/20px Arial;
		color:#0e9dd2;
		text-align:center
}

table.alignttable tr td{
		vertical-align:top;
		padding-bottom:10px
}

h2.popstitle{
		font:bold 13px Arial;
		color:#333;
		padding-bottom:10px
}

.sepeartorBg{/*background:url(images/sepeartors.jpg) repeat-y -77px 5px; */
		overflow:hidden
}

.employeSector h2{
		padding:10px 0 10px;
		font-size:13px
}

.hrinput{
		width:185px!important
}
/* --------------------paging.csss-------------------*/

table tr.defaultPagingBar td a{
		text-decoration:none;
		font-weight:bold;
		color:#000!important
}

.documentSeparatorDiv{
		display:block;
		border-bottom:#d8d8d8 1px solid;
		border-radius:5px 5px 5px 5px;
		box-shadow:1px 1px 3px #DDDDDD;
		padding-bottom:5px;
		padding-top:3px
}

.documentSeparatorDiv input{
		padding:0px
}

table tr.seperatoring td{
		padding-bottom:8px;
		background:url("images/seperators.gif") repeat-x bottom
}

.newFieldSetForEntryForm table{
		padding-top:10px
}

.newFieldSetForEntryForm{
		margin-top:15px;
		padding-left:10px;
		padding-bottom:10px
}

.newFieldSetForEntryForm table td{
		padding:4px
}

.arrowMovementGridInputFocus{
		background-color: #CCFF9A!important
}
/******Excel template popup*******/

.templateHeader{
		font-size:13px;
		color:Black;
		margin-top:10px;
		margin-bottom:10px;
		clear:both
}

.templateWarning{
		color:#BF4900;
		margin-top:5px;
		margin-bottom:5px
}

.AutoExtender{
		border:solid 1px #10B0EA;
		line-height:20px;
		padding:2px;
		background-color:White;
		text-align:left;
		z-index:999999!important;
		margin-left:0px;
		max-height: 500px;
        overflow-y: scroll;
}

.AutoExtender li{
		list-style-type:none;
		border-bottom:1px solid lightgray
}

.AutoExtenderList{
		border-bottom:dotted 1px #10B0EA;
		cursor:pointer;
		color:Black;
		overflow-x:hidden;
}

.AutoExtenderHighlight{
		color:White;
		background-color:#10B0EA;
		cursor:pointer
}

.spinner{
		cursor:wait;
		background: url("images/spinner-63032e.gif") no-repeat scroll center center transparent!important;
		text-align:center;
		background-color:#ccc;
        border: 1px solid #B8B8B8;
		margin-top:-1px;
		/*text-indent:-100000000px;*/
		color:transparent!important;
}

.spinner:hover{
		background: url("images/spinner-63032e.gif") no-repeat scroll center center transparent!important;
		background-color:#ccc;
        border: 1px solid #B8B8B8;
		margin-top:-1px;
		/*text-indent:-100000000px;*/
		color:transparent!important;
}

.readonlyTextBox{
		background-color:lightgray
}

.leavetype{
		background-color:#fff;
		border:1px solid #A1BED3;
		float:right;
        margin-top: 0px;
}

.leavetype .leaveTitle{
		width:100px
}

.leavetype th,.leavetype td{
		padding:4px 10px!important
}

.leavetype td{
		border-bottom:1px solid #efefef;
		text-align:left
}

.blankspace{
		height:5px
}
/*right side green help block*/

.rightHelp .title{
		background:#64B23B url(../images/bg-help.png) no-repeat top left;
		height:24px;
		padding:0 10px;
		text-align:left;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0
}

.rightHelp .content{
		border-top-width:0;
		-moz-border-radius:0 0 5px 5px;
		-webkit-border-radius:0 0 5px 5px;
		border-radius:0 0 5px 5px;
		padding:0;
		width:478px;
;
		color:#555;
		border:1px solid #C1C1C1;
		padding:10px;
		background-color:#f9fef6
}

div.rightHelp div.title h2{
		font:bold 14px Arial,sans-serif;
		color:#FFF;
		margin:0;
		padding:0;
		border-width: 0!important;
		width: auto!important;
		padding-top:4px
}

.mainMenuSelected{
		background:white!important
}

.mainMenuSelected div a{
		color:#0990C3!important
}/*
.mainMenuSelectedli#
{border-bottom:1px solid white;}*/

#mbmcpebul_table{
		border-color:White
}

.menuSeparator{
		background-repeat: repeat-x!important;
		background-position: 0 0!important;
		height: 3px!important
}
/*3-17-2013 DIL css popup design*/

#blanket{
		background-color:#111;
		opacity:0.65;
		*background:none;
		position:absolute;
		z-index:9001;
		top:0px;
		left:0px;
		width:100%
}

#popUpDiv{
		position:absolute;
		background:url(pop-back.jpg) no-repeat;
		width:370px;
		height:200px;
		border:2px solid #B2B2B2;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		border:2px solid #B2B2B2;
		z-index:9002;
		background:white
}

#titleBar{
		top:0px;
		left:0px;
		position:relative;
		display:block;
		vertical-align:middle;
		line-height:20px;
		background:#EDEDED!important;
		padding:5px 10px
}

#popUpDiv{
		margin-top:15px;
		height:140px
}

#popUpDiv #title{
		font-size:14px;
		color:#344251;
		text-shadow:1px 1px 0px #bad3ed;
		font-weight:normal
}

.my-combo .x-form-text{
		height:200px
}

#popUpDiv a{
		position:relative;
		float:right;
		display:inline-block;
		margin-top:2px;
		background:transparent url('../css/images/close-cross.png') no-repeat top right;
		height:13px;/*height for close button */
		width:12px;
		margin-top:4px
}

.x-panel-header{
	font-weight:normal;
    /*text-shadow: 1px 1px 1px #fff;*/
    filter: dropshadow(color=#fff, offx=1, offy=1);
    font-size: 12px;
    font-family: tahoma,arial,verdana,sans-serif;
    border-color:#99bbe8;
   
    border-color: #A9BFD3;
}
.x-panel-header-text-container-default {
color: black;
font-weight: normal;
}

.x-grid3-header{
  background-image: none;
background-color: transparent;
}
.viewhistory {
float: left;
padding-top:15px;
color: #989898;
background-color: #fff;
width: 1177px;
}
.viewhistorydiv {
border-bottom: 1px solid #989898;
padding-bottom: 3px;
font-size:12px;
}   
.viewhistorydiv table td, th
{
    height:12px!important;
}
  .homeUl
                        {
                            list-style-type: none;
                        }
                        .homeUl li
                        {
                            padding: 10px 0 0 0px;
                        }
                        .homeUl li a
                        {
                            font-size: 14px;
                            text-align: left;
                        }
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-display-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger
{
    opacity: 0.7;
}
/*if enabled then button text is lower */
/*.x-btn-default-small-icon .x-btn-inner, .x-btn-default-small-noicon .x-btn-inner {
line-height: 22px;
}*/
.x-form-trigger {
height: 22px;
}

input[type="radio"], input[type="checkbox"]{
margin-left: 3px;margin-right:3px;margin-bottom: 3px;
}

.x-form-item-label {
margin-bottom: 2px!important;}
/*paging height*/

/*remove tab top bar background*/
.x-tab-bar-default{background-color:inherit;}
.x-tab-bar-strip-default-top{height:0px;}
.x-tab-bar-body-default-top{padding-bottom:0px;}
.x-toolbar-footer{background: inherit;}

/*left panel removal*/
.contentLeftBlockRemoval
{
    margin: 0px!important;
    padding-left:20px!important;
}
.nonExtLeftExistsHeader
{
    margin-left: 10px!important;
margin-top: 15px!important;
margin-bottom: 0px!important;
}



  .htmlBody
        {
            border: 1px solid lightgray;
border-right: 3px solid lightgray;
        }
        .x-mask {
opacity: 0.4;
}
.x-mask {
background: lightgray;
}
.notify ul {padding-left: 55px;
clear: both; list-style-type:decimal;}
 .extGridImageIconCls
        {
            text-align: center;
            background: #F5F5F5;
            border-radius: 0px !important;
            width: 25px;
            margin-left: 10px;
        }

.x-datepicker-column-header
{
    
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
}
.x-datepicker-cell
{    
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
}
.x-datepicker-selected
{
    border: 1px solid #3892d3!important;
}
.x-datepicker-today {
border-color: #3892d3;
border-style: solid;
background-color: #FFF4BF;
}
.x-grid-cell-inner{padding: 5px 5px 4px 5px;}
.x-column-header-inner {padding: 7px 5px 7px 5px;}


.nav-wizard > li > a:after{    border-left: 20px solid #ddd!important;}