﻿  .ratingContainerBlock
    {
       background-color: #e8f1ff;
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: 25px;
        padding-right: 0px;
        padding-bottom:10px;
    }
    .ratingBlockNumberCls
    {
        color: black;
        font-weight: normal;
        font-size: 22px;
        margin-left:0px;
    }
    .ratingBlockTitleCls
    {
        margin-left: 0px;
        color: #414141;
        font-weight: normal;
        font-size: 20px;
    }
    .categoryBlockQuestionBlock
    {
        /*background-color: #E8F1FF;*/
        /*padding: 10px;*/
        margin-top: 5px;
        margin-left: 0px;
        font-weight:bold;
        font-size:15px;
        color:#FFF;
        padding:5px;
        padding-top:8px;
        padding-bottom:8px;
        background-color:#428BCA;
    }
    .ratingContainerBlockDescription
    {
        background-color: #E8F1FF;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 8px;
        margin-left: 0px;
    }
    .ratingContainerBlockDescription p
    {
        font-size:13px;
        line-height:20px;
    }
    .ratingTitleBlock
    {
        background-color: #c5d9f1;
        color: #2d71ae;
        display: block;
        font-size: 14px;
        font-weight: normal;
        margin-left: -25px;
        padding: 5px;
    }
    .spanRatingLevelClass
    {
        display: block;
        margin-bottom: 5px;
        color:#84B4DF;
        font-style:italic;
    }
    
    
    .ratingCommentBlock
    {
        margin-top: 8px;
        float:left;
        margin-right:20px;
        width:400px;
    }
    .ratingLabelBlock
    {
        display: block;
        margin-top: 10px;
         display: block;
        margin-bottom: 5px;
        color:#84B4DF;
        font-style:italic;
        
        
    }
    .ratingInputBlock
    {
       
        width: 400px;
       
        background:none repeat scroll 0 0 #F9FBFF;
         height: 36px;
        line-height:17px;
        padding:3px 5px;
            border-radius: 0px;
        
    }
    .ratingButtons{margin-left:0px;margin-top:20px;}
   
    .ratingClear{clear:both;}
    
     .AppraisalMainTitle
    {
        color: #414141;
        font-weight: bold;
        font-size: 20px;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 2px;
        border-bottom: 4px double #414141;
    }
    .headerDoubleLine
    {
         border-bottom: 4px double #414141;
    }
    
    .summaryCommmentLabel
    {
        margin-left: 0px;
    } 
    .summaryCommmentDiv
    {
 background-color: #E8F1FF;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    
      .summaryRecommendation
    {
 background-color: #E8F1FF;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    
    .summaryCommmentSignature
{
   display: block;
margin-left: 0px;
color: gray;
padding-bottom: 3px;
border-bottom: 1px solid lightgray;
margin-bottom: 8px;
}

.ratingReadonlyText
{
    color:#1F4E78;
    display: inline-block;
margin-right:5px;
}
.descriptionBlock
{
        color: #414143;
    padding-top: 10px;
    padding-bottom: 5px;
}
.innerdescriptionBlock
{
        color: #414143;
    padding-top: 10px;
    
}

itemgrid
{
    border:1px solid;
}