﻿
.pageheader
{
 padding-bottom: 0px!important;
height: 46px!Important;
padding-top: 12px!Important;
}
.headerwrapper{position:absolute!important;}
.pageheader h4
{
    font-size:22px!important;
    color: #4E5154!important;
}

itemgrid
{
    border:1px solid;
}
.x-body{background:white!important;}

.x-mask {
background: lightgray;
}

.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-display-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger
{
    opacity: 0.6;
}

.x-toolbar-footer{border-top: 1px solid lightgray!important;}
.fieldTable
        {
            margin-top: 10px;
        }
        /*only first level td*/
        .fieldTable > tbody > tr > td
        {
            padding-left: 10px;
            padding-top: 5px;
        }
        .popupButtonDiv > div
        {
            float: left;
            padding-top: 20px;
        }
        .buttonLeft > div
        {
            float: left;
        }
 .firsttdskip tr td:first-child
 {
     padding-left:0px;
 }
 .firsttdskip
 {
     margin-top:0px;
     clear:both;
 }
/*default ul li in horizontal--%>*/
  .custommenulist
        {
            display: -webkit-inline-box !important;
            margin-bottom: 0px!important;
            box-shadow: none!important;
            border: 0px!important;
            margin: 0px;
        }
  .custommenulist i,.custommenugap i,.icongap i{margin-right:5px;}
  .icongap,.custommenugap{box-shadow:none!important;}
/*right dashboard block*/
 .smallBlockUL
        {
            margin-left: -37px;
        }
        .smallBlockUL li
        {
            list-style:none;   
        }
       
       .smallBlockUL
       {
           color: #666;
       }
       
  /*auto complete*/
  
.AutoExtender{
		border:solid 1px #10B0EA;
		line-height:20px;
		padding:2px;
		background-color:White;
		text-align:left;
		z-index:999999!important;
		margin-left:0px;
		max-height: 500px;
        overflow-y: scroll;
}


.AutoExtender li{
		list-style-type:none;
		border-bottom:1px solid lightgray
}

.AutoExtenderList{
		border-bottom:dotted 1px #10B0EA;
		cursor:pointer;
		color:Black;
		overflow-x:hidden;
}

.AutoExtenderHighlight{
		color:White;
		background-color:#10B0EA;
		cursor:pointer
}

.buttonBlock
{padding-top:25px;margin-bottom:5px;}


.buttonBlockSection
{padding-top:1px;margin-bottom:20px;}


.x-window-body-default {
background: #E8F1FF;
}


.x-mask {
background: lightgray;
}
.x-mask {
opacity: 0.4;
}

.btnFlatLeftGap
{
    margin-left:5px;
    margin-top:5px;
}
.btnFlatOr
{
    margin-left: 10px;
    margin-top:5px;
}

/*grid buttons*/

.editGridButton
{
    background-image: none;
}

/*panel header decrease size*/
.panel-heading 
{
    padding: 10px 20px 10px 20px!important;
}

/*bring view all little up*/
.panel-heading a
{
    line-height: 0px;
}

.x-tool-img{height:19px;}

.menu-collapse{right:10px!important;}
.panel-body{padding:20px;}
.panel-body-small{padding:10px;}

.loadingStartingImage
{
 position: absolute; 
 margin: 0 auto 0 auto;
 left:50%;
 top:50%;
 background-color:Transparent;
 z-index:9999999
}

.dropdown-demo-only{width:auto;}

/*badget ul and li*/
.dashboardNotificatioin > li > a{padding-left:12px!important;}
.dashboardNotificatioin>li>a{padding: 5px 15px;}
.dashboardNotificatioin{margin-top: -5px!important;
margin-bottom: -5px!important;}


/*.....css for alert boxes...........  */

.alerterror{
/*		border-radius:5px 5px 5px 5px;  */
		border-style:solid;
		border-width:1px;
		margin-bottom:8px;
		margin-top:0px;
		width:970px;
		padding:10px;
		position:relative;
		background-color:#fff;
		float:left;
}

.alertborder1{
		border-color:#E20100;
}

.alertborder2{
		border-color:#48B001;
}

.alertborder3{
		border-color:#FA8100;
}

.alertborder4{
		border-color:#009ACC;
}

.alertborder5{
		border-color:#FC8100;
}

.alerterror .imagealert,.imagealert{
		background:url(images/messages.png) no-repeat;
		height:19px;
		width:22px;
}

.alerterror .alertbg1,.alertbg1{
		background-position:0 -80px;
}

.alerterror .alertbg2,.alertbg2{
		background-position:0 0;
}

.alerterror .alertbg3,.alertbg3{
		background-position:0 -59px;
}

.alerterror .alertbg4,.alertbg4{
		background-position:0 -39px;
}

.alerterror .alertbg5,.alertbg5{
		background-position:0 -19px;
}

.alerterror .msg{
		padding:0 20px 0 30px;
}

.imgalertsmall{
		background:url(images/messages.png) no-repeat;
		height:15px;
		width:15px;
		cursor:pointer;
}

.imagesmall1{
		background-position:0 -177px;
}

.imagesmall2{
		background-position:0 -100px;
}

.imagesmall3{
		background-position:0 -116px;
}

.imagesmall4{
		background-position:0 -132px;
}

.imagesmall5{
		background-position:0 -116px;
}

.errormsg{
		width:400px;
}

.errormsg p{
		padding:5px 0 10px 0;
		color:#E65951;
}

.errormsg .warning1{
		background:url(images/warning.png) no-repeat 0 0;
		height:24px;
		width:24px;
		padding:0 0 0 31px;
}

.msg1 p{
		color:#E20201;
		padding-top:2px;
}

.msg2 p{
		color:#45B200;
		padding-top:2px;
}

.msg3 p{
		color:#F88101;
		padding-top:2px;
}

.msg4 p{
		color:#0099D2;
		padding-top:2px;
}

.msg5 p{
		color:#F88101;
		padding-top:2px;
}
.left{float:left;}
.right{float:right;}


.x-label{height:auto!important;}

.alert{padding:10px!important;}

.nav-wizard>li>a{padding: 10px 2px;}

.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-field, .x-item-disabled .x-form-display-field, .x-item-disabled .x-form-cb-label, .x-item-disabled .x-form-trigger
,.x-item-disabled input,
input[disabled],select[disabled]
{
    opacity: 0.6;
}

select{color:Black;}

.dashboardMenuHeader,.dashboardMenuHeader:hover,.dashboardMenuHeader a{background-color:#F9F9F9!important;}
.dashboardMenuHeader
{
    margin: 0px;
padding: 0px!important;
/* margin-left: -5px; */
/* margin-right: -5px; */
/* margin-top: -5px; */
margin: -5px;
border-radius: 5px;
margin-bottom: -10px;
padding-left: 7px!important;
}

.fulldivider{margin-left: -6px!important;margin-bottom:2px!important;
margin-right: -6px!important;}

.alert-info {
background-color: #fcfcfc;
border: 1px solid #DDDDDD;
}

.btn-default span{color:#666666!important; font-weight:normal!important;}
.x-panel-default,.x-panel-default-outer-border-trbl,
.x-panel-default-outer-border-trl,.x-panel-default-outer-border-rl,
.x-panel-default-outer-border-rbl

{border-color:#E7E7E7!important;}

[hidden], template {
display: block;
}

.x-datepicker-cell {
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
}
.x-datepicker-column-header {
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
}
.x-datepicker-today {
border-color: #3892d3;
border-style: solid;
background-color: #FFF4BF;
}

.viewall{margin-right: 15px;
margin-top: -7px;}

.x-item-disabled input,
input[disabled], select[disabled]
{background-color:#DFDFDF;}

.dashboard{
	display:block;
	height: 35px;
	-moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.4);
	top: -5px;
	
}

.mainwrapper.collapsed .nav
{margin-top:0px;}
.leftNav>li>a
{
    margin-left:0px!important;
    padding-left:10px!important;
}
.leftNav
{
    width: 180px; margin-right: 10px;
}

.dashboard{
	display:block;
	height: 35px;
	-moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.4);
	top: -5px;
	width:179px;
	
}

.sharpcorner{
    border-radius: 0px;
}
  .x-grid-cell-inner{padding: 5px 5px 5px 5px;}
.x-column-header-inner {padding: 7px 5px 7px 5px;}