﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HR.Master.cs" Inherits="Web.Master.HR" %>

<%@ Register Src="~/Controls/ModuleListMenu.ascx" TagName="modulelistmenu" TagPrefix="uc4" %>
<%@ Register Src="~/Controls/ContentHeader.ascx" TagName="ContentHeader" TagPrefix="uc1" %>
<%@ Register Src="~/Controls/MenuHRControl.ascx" TagName="MenuControl" TagPrefix="uc2" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        var selEmpId = null;
        function ACE_item_selected(source, eventArgs) {
            var value = eventArgs.get_value();
            selEmpId = value;
            //window.location = "Employee.aspx?Id=" + value; 
            //alert(value);


            displayEmp();
        }
        function displayEmp() {
            if (selEmpId != null) {
                window.location = url + "newhr/EmployeeDetails.aspx?ID=" + selEmpId;
            } else {
                alert("First select the employee from the list.");
            }
        }
    </script>
    <asp:ContentPlaceHolder ID="header1" runat="server">
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release">
        <Services>
            <asp:ServiceReference Path="~/PayrollService.asmx" />
        </Services>
    </asp:ScriptManager>
    <uc1:ContentHeader Id="ContentHeader1" runat="server" />
    <!-- Start Content -->
    <div class="container-fluid">
        <div class="navbar main">
            <uc4:modulelistmenu ID="ModuleListMenu1" runat="server" />
        </div>
        <div id="wrapper">
            <uc2:MenuControl ID="MenuControl1" runat="server" />
            <div id="content" class="hideLeftBlockCssInPage">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder_Main" runat="server">
                </asp:ContentPlaceHolder>
                <!-- End Content -->
            </div>
            <!-- End Wrapper -->
        </div>
    </div>
    </form>
    <asp:PlaceHolder ID="scripts" runat="server"></asp:PlaceHolder>
    <asp:ContentPlaceHolder ID="pageScriptsContent" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
