﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContentHeader.ascx.cs"
    Inherits="Web.Controls.ContentHeader" %>
<style type="text/css">
    .left_call
    {
        background: url(<%= Page.ResolveUrl("~/scripts/calendar/2left_cal.png") %>) no-repeat center left;
    }
    
    .right_cal
    {
        background: url(<%= Page.ResolveUrl("~/scripts/calendar/right_cal.png") %>) no-repeat center left;
    }
    
    .right_call
    {
        background: url(<%= Page.ResolveUrl("~/scripts/calendar/2right_cal.png") %>) no-repeat center left;
    }
    
    .left_cal
    {
        background: url(<%= Page.ResolveUrl("~/scripts/calendar/left_cal.pn g") %>) no-repeat center left;
    }
</style>
<ext:ResourceManager  DisableViewState="false" GZip="true" ID="ResourceManager1" 
    ShowWarningOnAjaxFailure="false" Namespace="" ScriptMode="Release" DirectMethodNamespace="Ext.net.DirectMethods"
    runat="server">
</ext:ResourceManager>
