﻿<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" CodeBehind="ExtMsgCtl.ascx.cs"
    Inherits="Web.Controls.ExtMsgCtl" %>
   
<ext:Panel runat="server">
    <Content>
         <em>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</em>
    
            <ext:Label runat="server" Cls="message" Hidden="True" ID="lbl"></ext:Label>
    
          <%--  <div runat="server" id="Div1" class="message" style='color:#3A9C00;display:inline!important'>
            </div>  
--%>
    </Content>

</ext:Panel> 

<%--<div runat="server" id="msg"  class="notify bg-info bigger">
    <em>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</em>
    
  
    
    <div runat="server" id="msgText" class="message" style='color:#3A9C00;display:inline!important'>
    </div>
</div>--%>
<style>
div.bg-info {
    background-color: #F9FEF6;
    border-color: #64B23B;
}

div.bg-info em {
    background-position: 0 0px;
}
</style>