﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MyLabel.ascx.cs" Inherits="Web.UserControls.MyLabel" %>
<asp:Label ID="lbl" runat="server" /><span runat="server" class="astrick" id="ast">*</span>