﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TopMenu.ascx.cs" Inherits="Web.Controls.TopMenu" %>
<ul>
    <li class="active"><a href="#">Home</a></li>
    <li><a id="A1" runat="server" href="~/CP/ManageCompany.aspx">Company</a></li>
    <li><a  runat="server"  href="~/CP/ManageEmployee.aspx">Employees</a></li>
    <li><a   href="#">Reports</a></li>
    <li><a runat="server"   href="~/CP/Service.aspx">Setup</a></li>
    <li><a href="#">Help</a></li>
</ul>
