﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WarningMsgCtl.ascx.cs" Inherits="Web.Controls.WarningMsgCtl" %>
<div runat="server" id="msg"  class="notify bg-orange bigger">
    <em>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</em>
    
    
    <div runat="server" id="msgText" class="message" style='color:#BF4900;display:inline!important;width:88%'>
    </div>
       <ul runat="server" id="msgList" style='clear:none;float:left;'>
    </ul>
</div>