@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600&subset=latin,latin-ext);

@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);
.hideText {
  text-indent: -999em;
  letter-spacing: -999em;
  overflow: hidden;
}
*,
a:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #f4f4f4;
  font-size: 13px;
}
a {
  color: #47759e;
  outline: 0 !important;
}
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
a:hover {
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 20px;
  font-weight: 700;
  color: #575655;
}
h1.glyphicons,
h2.glyphicons,
h3.glyphicons,
h4.glyphicons,
h5.glyphicons,
h6.glyphicons {
  color: #575655;
}
p {
  font-size: 12px;
  margin: 0 0 10px;
  line-height: normal;
}
p a {
  color: #dd8a88;
}
h1,
h2,
h3 {
  text-shadow: 0 1px 0 #fff;
}
h1 span,
h2 span,
h3 span {
  font-size: 60%;
  text-transform: none;
  padding: 0 0 0 10px;
  position: relative;
  top: -3px;
  font-weight: normal;
}
h1 {
  color: #575655;
}
h1 span {
  color: #d67170;
}
h2 {
  font-size: 26pt;
  color: #575655;
}
h4,
h3 {
  color: #575655;
}
li.center,
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.btn-block.count {
  text-align: left;
}
.btn-block.count.glyphicons i:before {
  text-align: center;
}
.btn-block.count span {
  float: right;
  font-size: 18px;
}
.innerLR {
  padding: 0 20px;
  position: relative;
}
.container-fluid {
  padding: 0;
  background: #f5f5f5;
}
.container-fluid.documentation {
  background: #fff;
}
.navbar.main {
  height: 35px;
  background-color: #355d81;
  background-image: -moz-linear-gradient(top, #355d81, #315779);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#355d81), to(#315779));
  background-image: -webkit-linear-gradient(top, #355d81, #315779);
  background-image: -o-linear-gradient(top, #355d81, #315779);
  background-image: linear-gradient(to bottom, #355d81, #315779);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff355d81', endColorstr='#ff315779', GradientType=0);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
}
.navbar.main .appbrand {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  height: 35px;
  padding: 0 0 0 15px;
  line-height: 35px;
  width: 189px;
  border-right: 1px solid #436888;
  background: #20415c;
}
.navbar.main .appbrand > span {
  border-right: 1px solid #1e3449;
  display: block;
  height: 35px;
  line-height: 35px;
}
.navbar.main .btn-navbar {
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  margin: 0;
  position: absolute;
  float: none;
  left: 205px;
  top: 0;
  display: block;
  background: #345d80;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #294964;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.navbar.main .btn-navbar .icon-bar {
  background: #86accd;
}
.navbar.main .topnav {
  border-left: 1px solid #294965;
}
.navbar.main .topnav.tn1 {
  position: absolute;
  left: 253px;
  top: 0;
}
.navbar.main .topnav,
.navbar.main .topnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar.main .topnav > li {
  border-left: 1px solid #436786;
  border-right: 1px solid #294965;
  position: relative;
}
.navbar.main .topnav > li,
.navbar.main .topnav > li .notif li {
  float: left;
  height: 35px;
  line-height: 35px;
  display: block;
  padding: 0 1px;
}
.navbar.main .topnav > li > a,
.navbar.main .topnav > li .notif li > a {
  display: block;
  color: #a9cfef;
  text-decoration: none;
  padding: 0 10px;
}
.navbar.main .topnav > li > a .text,
.navbar.main .topnav > li .notif li > a .text {
  display: inline-block;
  padding-left: 10px;
}
.navbar.main .topnav > li > a.glyphicons,
.navbar.main .topnav > li .notif li > a.glyphicons {
  padding: 0 10px 0 35px;
}
.navbar.main .topnav > li > a.glyphicons i:before,
.navbar.main .topnav > li .notif li > a.glyphicons i:before {
  color: #a9cfef;
  font-size: 17px;
  top: 9px;
  left: 10px;
}
.navbar.main .topnav > li > a.glyphicons.logout,
.navbar.main .topnav > li .notif li > a.glyphicons.logout {
  padding: 0 38px 0 0;
}
.navbar.main .topnav > li > a.glyphicons.logout i:before,
.navbar.main .topnav > li .notif li > a.glyphicons.logout i:before {
  left: auto;
  right: 10px;
}
.navbar.main .topnav > li > a:hover,
.navbar.main .topnav > li .notif li > a:hover {
  color: #fff;
}
.navbar.main .topnav > li > a:hover.glyphicons i:before,
.navbar.main .topnav > li .notif li > a:hover.glyphicons i:before {
  color: #fff;
}
.navbar.main .topnav > li.open,
.navbar.main .topnav > li .notif li.open {
  padding: 0;
}
.navbar.main .topnav > li.open > a,
.navbar.main .topnav > li .notif li.open > a {
  background: #f5f5f5;
  height: 36px;
  color: #333;
  position: relative;
  line-height: 34px;
  border: 1px solid #dddddd;
}
.navbar.main .topnav > li.open > a i:before,
.navbar.main .topnav > li .notif li.open > a i:before {
  top: 9px;
  color: #333;
}
.navbar.main .topnav > li.open > a .caret,
.navbar.main .topnav > li .notif li.open > a .caret {
  border-top-color: #333;
}
.navbar.main .topnav > li.open > a:hover i:before,
.navbar.main .topnav > li .notif li.open > a:hover i:before {
  color: #333;
}
.navbar.main .topnav > li.open .dropdown-menu,
.navbar.main .topnav > li .notif li.open .dropdown-menu {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  border-top: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  right: 0;
  width: 246px;
}
.navbar.main .topnav > li.open .dropdown-menu li,
.navbar.main .topnav > li .notif li.open .dropdown-menu li {
  border-bottom: 1px solid #dddddd;
}
.navbar.main .topnav > li.open .dropdown-menu li:last-child,
.navbar.main .topnav > li .notif li.open .dropdown-menu li:last-child {
  border-bottom: none;
}
.navbar.main .topnav > li.open .dropdown-menu li:first-child > a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li:first-child > a,
.navbar.main .topnav > li.open .dropdown-menu li:first-child > a:hover,
.navbar.main .topnav > li .notif li.open .dropdown-menu li:first-child > a:hover,
.navbar.main .topnav > li.open .dropdown-menu li:first-child > span,
.navbar.main .topnav > li .notif li.open .dropdown-menu li:first-child > span {
  border-top: none;
}
.navbar.main .topnav > li.open .dropdown-menu li > a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li > a,
.navbar.main .topnav > li.open .dropdown-menu li > a:hover,
.navbar.main .topnav > li .notif li.open .dropdown-menu li > a:hover,
.navbar.main .topnav > li.open .dropdown-menu li > span,
.navbar.main .topnav > li .notif li.open .dropdown-menu li > span {
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  border-top: 1px solid #ffffff;
  display: block;
  background: #f5f5f5;
  color: #333;
}
.navbar.main .topnav > li.open .dropdown-menu li > a.glyphicons i:before,
.navbar.main .topnav > li .notif li.open .dropdown-menu li > a.glyphicons i:before,
.navbar.main .topnav > li.open .dropdown-menu li > a:hover.glyphicons i:before,
.navbar.main .topnav > li .notif li.open .dropdown-menu li > a:hover.glyphicons i:before,
.navbar.main .topnav > li.open .dropdown-menu li > span.glyphicons i:before,
.navbar.main .topnav > li .notif li.open .dropdown-menu li > span.glyphicons i:before {
  left: auto;
  right: 10px;
  top: 8px;
  font-size: 17px;
  color: #c4c4c4;
}
.navbar.main .topnav > li.open .dropdown-menu li > a:hover,
.navbar.main .topnav > li .notif li.open .dropdown-menu li > a:hover {
  background: #fff;
}
.navbar.main .topnav > li.open .dropdown-menu li.active,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.active {
  background: #ddd;
}
.navbar.main .topnav > li.open .dropdown-menu li.active a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.active a {
  background: #ddd;
}
.navbar.main .topnav > li.open .dropdown-menu li.highlight > a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight > a,
.navbar.main .topnav > li.open .dropdown-menu li.highlight > a:hover,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight > a:hover,
.navbar.main .topnav > li.open .dropdown-menu li.highlight > span,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight > span {
  background: #fff;
}
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a:hover,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a:hover,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > span,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > span {
  height: auto;
  line-height: normal;
  padding: 5px 10px 10px;
}
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a .heading,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a .heading,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a:hover .heading,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a:hover .heading,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > span .heading,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > span .heading {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a .heading a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a .heading a,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a:hover .heading a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a:hover .heading a,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > span .heading a,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > span .heading a {
  text-transform: none;
}
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a .img,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a .img,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a:hover .img,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a:hover .img,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > span .img,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > span .img {
  display: inline-block;
  float: left;
  width: 47px;
  height: 45px;
  line-height: 45px;
  background: #272729;
  text-align: center;
  content: "\e004";
  color: #525254;
  font-family: "Glyphicons";
  margin: 0 10px 0 0;
  position: relative;
}
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a .clearfix,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a .clearfix,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > a:hover .clearfix,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > a:hover .clearfix,
.navbar.main .topnav > li.open .dropdown-menu li.highlight.profile > span .clearfix,
.navbar.main .topnav > li .notif li.open .dropdown-menu li.highlight.profile > span .clearfix {
  display: block;
}
.navbar.main .topnav .dropdown > a .caret {
  border-top-color: #fafafa;
  top: 8px;
  position: relative;
}
.navbar.main .topnav .dropdown-menu {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.navbar.main .topnav #themer {
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  z-index: 1000;
  width: 250px;
  margin: 0;
  text-align: left;
}
.navbar.main .topnav #themer.in {
  overflow: visible;
}
.navbar.main .topnav #themer .close2 {
  position: absolute;
  background: #DDD;
  color: #222;
  font-weight: 600;
  height: 20px;
  top: 14px;
  right: 10px;
  line-height: 20px;
  text-align: center;
  font-size: 10pt;
  padding: 0 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.navbar.main .topnav #themer .wrapper {
  position: relative;
  background: #292c2e;
  border: 1px solid #2f3235;
  box-shadow: 0 0 0 1px #5e646b inset;
  -moz-box-shadow: 0 0 0 1px #5e646b inset;
  -webkit-box-shadow: 0 0 0 1px #5e646b inset;
  padding: 15px;
  color: #fafafa;
}
.navbar.main .topnav #themer .wrapper hr.separator {
  margin: 20px 0;
  border-top-color: #5e646b;
  border-bottom-color: #2f3235;
}
.navbar.main .topnav #themer .wrapper h4 {
  border-bottom: 1px solid #5e6060;
  padding: 0 0 10px;
  margin: 0 0 10px;
  color: #fff;
}
.navbar.main .topnav #themer .wrapper h4 span {
  color: #5e6060;
  font-weight: normal;
  font-size: 10pt;
}
.navbar.main .topnav #themer .wrapper .btn {
  margin: 0;
}
.navbar.main .topnav #themer .wrapper #themer-getcode-less {
  margin: 0 0 0 5px;
}
.navbar.main .topnav #themer .wrapper ul {
  margin: 0;
  list-style: none;
}
.navbar.main .topnav #themer .wrapper ul li {
  height: 25px;
  line-height: 25px;
  position: relative;
}
.navbar.main .topnav #themer .wrapper ul li .minicolors {
  line-height: normal;
  border: none;
  top: 2px;
  right: 0;
  position: absolute;
}
.navbar.main .topnav #themer .wrapper ul li .minicolors input {
  border: none;
  height: 20px;
  width: 69px;
  background: #414649;
  color: #fff;
  font-size: 9pt;
  padding: 0 5px;
  margin: 0 0 1px;
}
.navbar.main .topnav #themer .wrapper ul li .minicolors-swatch {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.navbar.main .topnav #themer .wrapper ul li .minicolors-panel {
  z-index: 10000;
  top: 24px;
}
.navbar.main .topnav #themer .wrapper ul li .minicolors-position-left .minicolors-panel {
  left: -152px;
}
.navbar.main .topnav #themer .wrapper ul li select {
  position: absolute;
  top: 3px;
  right: 0;
  width: 100px;
  height: 20px;
  line-height: normal;
  padding: 0;
  margin: 0;
  font-size: 9pt;
  background: #414649;
  border: 1px solid #2F3235;
  color: #fff;
}
.navbar.main .topnav #themer .wrapper ul li .link {
  text-decoration: underline;
  cursor: pointer;
}
.navbar.main .topnav #themer .wrapper ul li label {
  margin: 0;
  line-height: 25px;
  font-size: 9pt;
}
.navbar.main .topnav #themer .wrapper ul li label input {
  margin: 0 0 1px;
}
.navbar.main .topnav #themer .wrapper ul li.advanced {
  display: none;
}
.navbar.main .topnav #themer.themer-advanced .wrapper ul li.advanced {
  display: block;
}
#login {
  padding: 70px 0;
  background-color: #f5f5f5;
}
#login .form-signin {
  max-width: 300px;
  padding: 19px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
  margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 10px;
  padding: 7px 9px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
}
#wrapper {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}
#menu {
  width: 203px;
  border-right: 1px solid #adafb1;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  background: #d7dadc url("../images/pattern1.png") repeat;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
}
#menu .profile {
  display: block;
  height: 40px;
  line-height: normal;
  padding: 15px 15px 10px;
}
#menu .profile span {
  text-align: left;
  display: block;
  padding: 10px 15px 0 0;
  float: right;
}
#menu .profile span strong {
  display: block;
  color: #444444;
  font-size: 14px;
}
#menu .profile span a {
  color: #47759e;
  font-size: 12px;
}
#menu .profile .img {
  border: 2px solid #fff;
  display: block;
  width: 46px;
  float: left;
  box-shadow: 0 1px 3px #999;
}
#menu > ul {
  float: left;
  margin: 0 0 25px;
}
#menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
#menu > ul > li {
  display: block;
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #acaeb0;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#menu > ul > li:first-child {
  border-top: 1px solid #acaeb0;
}
#menu > ul > li .count {
  display: inline-block;
  background: #45484d;
  color: #d6d6d6;
  font-weight: 600;
  font-size: 10px;
  padding: 1px 8px;
  position: absolute;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  top: 10px;
  right: 15px;
  line-height: normal;
}
#menu > ul > li a {
  display: block;
  width: auto;
  border-top: 1px solid #e0e2e4;
  padding: 0;
  margin: 0;
  color: #45484d;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}
#menu > ul > li a.glyphicons {
  padding: 0 0 0 45px;
}
#menu > ul > li a.glyphicons i:before {
  font-size: 17px;
  color: #45484d;
  top: 10px;
  left: 15px;
}
#menu > ul > li a:hover {
  background: #d1d4d6;
}
#menu > ul > li.active {
  position: relative;
  overflow: visible;
  border-top: 1px solid #395e7e;
}
#menu > ul > li.active > a {
  background: #47759e;
  border-top: 1px solid #6c91b1;
  border-bottom: 1px solid #395e7e;
  color: #fff;
}
#menu > ul > li.active .count {
  background: #214460;
  box-shadow: 0 1px 0 #96a8b7;
  -moz-box-shadow: 0 1px 0 #96a8b7;
  -webkit-box-shadow: 0 1px 0 #96a8b7;
  top: 11px;
}
#menu > ul > li.active.glyphicons i:before,
#menu > ul > li.active .glyphicons i:before {
  color: #fff;
}
#menu > ul > li.glyphicons a {
  padding: 0 0 0 45px;
}
#menu > ul > li.glyphicons a i:before {
  font-size: 17px;
  color: #45484d;
  top: 10px;
  left: 15px;
}
#menu > ul > li.hasSubmenu.active {
  height: auto;
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #dddddd;
}
#menu > ul > li.hasSubmenu.active a {
  border: none;
}
#menu > ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu > ul ul li {
  height: auto;
  border: none;
}
#menu > ul ul li a {
  padding: 0 0 0 45px;
  height: 35px;
  line-height: 35px;
  border: none;
  font-weight: 400;
}
#menu > ul ul li a.glyphicons i:before {
  font-size: 12px;
  top: 7px;
  left: 22px;
  color: #222;
}
#menu > ul ul li a:hover {
  background: #fafafa;
}
#menu > ul ul li.active a {
  font-weight: 600;
  background: #fafafa;
  color: #45484d;
}
#menu #search {
  position: relative;
  overflow: hidden;
  width: 173px;
  height: 24px;
  border: 1px solid #9ca2a8;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: #e0e1e1;
  margin: 15px auto;
}
#menu #search input {
  border: none;
  height: 24px;
  line-height: 24px;
  padding: 0;
  width: 132px;
  margin: 0;
  left: 10px;
  position: absolute;
  top: 0;
  box-shadow: none;
  background: none;
}
#menu #search .glyphicons {
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
#menu #search .glyphicons i:before {
  top: 4px;
  left: 9px;
  color: #7f878e;
  font-size: 17px;
}
#content {
  position: relative;
  overflow: hidden;
  margin: 0 0 0 204px;
  background: #f3f3f3;
  min-width: 320px;
  min-height: 800px;
  padding: 0 0 20px;
}
#content > .menubar {
  border-left: none;
  border-right: none;
}
#content > p {
  padding: 0 20px 5px;
}
#content > h1,
#content > h2,
#content > h3,
#content > h4,
#content > h5,
#content > h6 {
  margin: 0 20px 20px;
}
#content > .filter-bar {
  border-right: none;
}
#content .heading-arrow {
  text-transform: uppercase;
  border-bottom: 1px solid #dddddd;
  margin: 0 0 10px;
  padding: 0 15px;
  font-size: 11pt;
  height: 35px;
  line-height: 30px;
  position: relative;
}
#content .heading-arrow:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 8px solid #ddd;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  bottom: 0;
  left: 15px;
}
#content .heading-arrow.glyphicons {
  padding: 0 10px 0 40px;
}
#content .heading-arrow.glyphicons i:before {
  font-size: 17px;
  left: 15px;
}
#content .heading-arrow.margin-bottom-none {
  margin-bottom: 0;
}
#content > .widget {
  border-left: 0;
  border-right: 0;
}
#content > .widget .widget-head,
#content > .widget .widget-body {
  border-left: 0;
  border-right: 0;
}
#content > .widget:last-child {
  margin: 0;
}
#content .innerLR > .widget:last-child {
  margin: 0;
}
#content > .table {
  border-left: none;
  border-right: none;
}
#content > .table tr td:first-child {
  border-left: none;
}
.menu-right #menu {
  left: auto;
  right: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1) inset;
  border-right: none;
  border-left: 1px solid #adafb1;
}
.menu-right #content {
  margin: 0 204px 0 0;
}
.menu-hidden #menu {
  display: none;
}
.menu-hidden #content {
  margin: 0;
}
.menu-hidden .navbar.main .appbrand {
  display: none;
}
.menu-hidden .navbar.main .btn-navbar {
  left: 0;
}
.menu-hidden .navbar.main .topnav.tn1 {
  left: 49px;
}
.menu-hidden.login .navbar.main .appbrand,
.menu-hidden.documentation .navbar.main .appbrand {
  display: inline-block;
  border: none;
}
.menu-hidden.login .navbar.main .appbrand span,
.menu-hidden.documentation .navbar.main .appbrand span {
  border: none;
}
#footer {
  height: 35px;
  background: #272729;
  border-top: 1px solid #010101;
  position: fixed;
  bottom: 0;
  z-index: 20000;
  left: 0;
  right: 0;
  overflow: hidden;
}
#footer .wrap {
  background: #272729;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
  border-top: 1px solid #494E53;
}
#footer .wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #232323;
  border-right: 1px solid #535353;
  display: inline-block;
}
#footer .wrap ul li {
  float: left;
  display: block;
  border-right: 1px solid #232323;
  line-height: 35px;
  height: 35px;
}
#footer .wrap ul li span:first-child,
#footer .wrap ul li a {
  border-left: 1px solid #535353;
  display: block;
  width: auto;
  cursor: pointer;
  padding: 0 10px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  color: #797979;
  font-weight: bold;
}
#footer .wrap ul li span:first-child i:before,
#footer .wrap ul li a i:before {
  line-height: 35px;
  position: relative;
  color: #797979;
  left: auto;
  top: -2px;
  font-size: 20px;
  vertical-align: middle;
  font-weight: normal;
}
#footer .wrap ul li span:first-child.text span,
#footer .wrap ul li a.text span {
  margin-left: 5px;
}
#footer .wrap ul li.active span:first-child,
#footer .wrap ul li:hover span:first-child,
#footer .wrap ul li.active a,
#footer .wrap ul li:hover a {
  color: #e6e6e6;
}
#footer .wrap ul li.active span:first-child i:before,
#footer .wrap ul li:hover span:first-child i:before,
#footer .wrap ul li.active a i:before,
#footer .wrap ul li:hover a i:before {
  color: #e6e6e6;
}
.menubar {
  height: 39px;
  position: relative;
  overflow: hidden;
  border: 1px solid #dddddd;
  background: #fafafa;
  margin: 0;
  font-size: 9pt;
}
.menubar ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  height: 38px;
  border-bottom: 1px solid #fff;
}
.menubar ul li {
  float: left;
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 8px;
}
.menubar ul li.divider {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #ffffff;
  width: 0px;
  padding: 0;
  margin: 0 8px;
}
.menubar ul li a {
  color: #4b4b4b;
  font-weight: 700;
  font-size: 9pt;
}
.widget-stats {
  background: #ffffff;
  padding: 36px 0;
  height: 71px;
  position: relative;
  text-align: center;
  display: block;
  color: #222;
  border: 1px solid #c1c1c1;
}
.widget-stats .count {
  position: absolute;
  top: -10px;
  right: 10px;
}
.widget-stats,
.widget-stats:hover,
.widget-stats:focus {
  text-decoration: none;
}
.widget-stats span {
  display: inline-block;
}
.widget-stats .txt {
  padding: 5px 0 0;
  color: #4c4c4c;
}
.widget-stats .glyphicons {
  padding: 0;
  display: block;
}
.widget-stats .glyphicons i {
  display: block;
}
.widget-stats .glyphicons i:before {
  color: #4c4c4c;
  font-size: 50px;
  top: 0;
  left: 0;
  position: relative;
}
.widget-stats:hover {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f8f8f8, #ededed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ededed));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #ededed);
  background-image: -o-linear-gradient(top, #f8f8f8, #ededed);
  background-image: linear-gradient(to bottom, #f8f8f8, #ededed);
  background-repeat: repeat-x;
}
.widget-activity ul.filters {
  display: block;
  overflow: hidden;
  position: relative;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.widget-activity ul.filters li {
  float: left;
  display: block;
  padding: 0 10px 0 0;
  font-size: 8pt;
  line-height: 30px;
}
.widget-activity ul.filters li.glyphicons {
  width: 25px;
  height: 25px;
  padding: 0 3px;
  text-align: center;
  cursor: pointer;
}
.widget-activity ul.filters li.glyphicons i:before {
  position: relative;
  top: 4px;
  left: 0;
  color: #cccccc;
  font-size: 17px;
}
.widget-activity ul.filters li.glyphicons:hover i:before {
  color: #dedede;
}
.widget-activity ul.filters li.glyphicons.active {
  width: 27px;
  height: 25px;
  top: 2px;
}
.widget-activity ul.filters li.glyphicons.active i {
  background: #47759e;
  display: block;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  height: 25px;
  position: relative;
}
.widget-activity ul.filters li.glyphicons.active i:before {
  color: #fff;
  top: 2px;
}
.widget-activity ul.activities {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-activity ul.activities li {
  display: block;
  height: 50px;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fafafa;
  margin: 0 0 10px;
  padding: 0 10px;
}
.widget-activity ul.activities li:last-child {
  margin: 0;
}
.widget-activity ul.activities li .activity-icon {
  padding: 0;
  display: inline-block;
  width: 37px;
  height: 35px;
  position: relative;
  top: 6px;
  text-align: center;
  margin: 0 5px 0 0;
}
.widget-activity ul.activities li .activity-icon i:before {
  position: relative;
  top: 0;
  left: 0;
  color: #a6a6a7;
}
.btn-group .btn-primary {
  margin-right: 2px;
}
.tooltip-inner {
  background: #272a2c;
  color: #bab9b9;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #272a2c;
}
ul.icons {
  text-align: left;
  padding: 0 15px;
}
ul.icons i:before {
  color: #e09694;
}
ul.icons li {
  display: block;
}
.form-inline.small input,
.form-inline.small select {
  margin: 0 5px 0 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  padding: 1px 5px;
  border-color: #d8d9da;
  color: #a7a7a7;
}
.form-inline.small select {
  padding: 1px 0;
  height: 23px;
}
.form-inline.small select:last-child {
  margin-right: 0;
}
.form-inline.small label {
  float: left;
  margin: 0 5px 0 0;
  display: block;
}
.form-inline.small .input-append.block {
  display: block;
}
.form-inline.small .input-append input {
  margin: 0;
  width: 85%;
}
.form-inline.small .input-append .add-on {
  padding: 1px 3px;
  margin: 0 0 0 -1px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  background: #fff;
  color: #d8d9da;
  border-color: #d8d9da;
}
.form-inline.small .input-append .add-on i:before {
  top: 4px;
  left: 4px;
  font-size: 14px;
  color: #d0d1d1;
}
.bootstrap-select.btn-group,
.bootstrap-select.btn-group[class*="span"] {
  margin: 0;
}
.filter-bar {
  background: #fafafa;
  border: 1px solid #c1c1c1;
  line-height: 30px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
}
.filter-bar div {
  padding: 5px 0;
  display: block;
  float: left;
  line-height: 30px;
}
.filter-bar div div {
  padding: 0;
  margin: 0 15px 0 0;
}
.filter-bar div div input {
  margin: 3px 0 0;
}
.filter-bar div div.input-append .add-on {
  padding: 1px 3px;
  margin: 3px 0 0 -1px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  background: #fff;
  color: #d8d9da;
  border-color: #d8d9da;
}
.filter-bar div div.input-append .add-on i:before {
  top: 4px;
  left: 4px;
  font-size: 14px;
  color: #d0d1d1;
}
.filter-bar div.glyphicons {
  padding: 0 0 0 35px;
}
.filter-bar div.glyphicons i:before {
  top: 12px;
  left: 9px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.filter-bar div.clearfix {
  padding: 0;
  clear: both;
  float: none;
  display: block;
  height: 0;
  margin: 0;
}
.filter-bar div.lbl {
  padding: 0 10px 0 35px;
  background: #47759e;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  color: #fff;
}
.filter-bar form {
  margin: 0;
}
.filter-bar form input,
.filter-bar form select {
  margin: 0 5px 3px 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  padding: 1px 5px;
  border-color: #d8d9da;
  color: #a7a7a7;
}
.filter-bar form select {
  padding: 1px 0;
  height: 23px;
}
.filter-bar form label {
  float: left;
  margin: 0 5px 0 0;
  display: block;
  line-height: 30px;
}
.heading-buttons h1,
.heading-buttons h2,
.heading-buttons h3,
.heading-buttons h4,
.heading-buttons h5,
.heading-buttons h6 {
  display: inline-block;
  margin: 0 20px;
}
.heading-buttons h1.glyphicons,
.heading-buttons h2.glyphicons,
.heading-buttons h3.glyphicons,
.heading-buttons h4.glyphicons,
.heading-buttons h5.glyphicons,
.heading-buttons h6.glyphicons {
  display: inline-block;
}
.heading-buttons .buttons {
  margin-top: 6px;
  margin-right: 20px;
  text-align: right;
}
.heading-buttons .btn {
  margin-right: 10px;
}
.heading-buttons .btn:last-child {
  margin-right: 0;
}
.relativeWrap {
  position: relative;
}
.widget {
  background: #fff;
  margin: 0 auto 20px;
  position: static;
  border: 1px solid #c1c1c1;
}
.widget .tab-content {
  padding: 0;
}
.widget .widget-head {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f8f8f8, #ededed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ededed));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #ededed);
  background-image: -o-linear-gradient(top, #f8f8f8, #ededed);
  background-image: linear-gradient(to bottom, #f8f8f8, #ededed);
  background-repeat: repeat-x;
  border-bottom: 1px solid #c1c1c1;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  height: 40px;
  line-height: 40px;
  position: relative;
  padding: 0 15px 0 0;
}
.widget .widget-head.progress {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin: 0;
  padding: 0;
}
.widget .widget-head .glyphicons {
  height: 40px;
  width: 30px;
  padding: 0;
}
.widget .widget-head .glyphicons i:before {
  width: 30px;
  height: 40px;
  line-height: 31px;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.widget .widget-head .heading {
  margin: 0;
  color: #45484d;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  float: left;
}
.widget .widget-head .heading.glyphicons {
  width: auto;
  display: block;
  padding: 0 0 0 35px;
}
.widget .widget-head .heading.glyphicons i:before {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 35px;
  color: #45484d;
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
}
.widget .widget-head a {
  text-shadow: none;
}
.widget .widget-head .dropdown-menu li > a:hover,
.widget .widget-head .dropdown-menu li > a:focus,
.widget .widget-head .dropdown-submenu:hover > a {
  background-color: #47759e;
  background-image: -moz-linear-gradient(top, #47759e, #d24343);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47759e), to(#d24343));
  background-image: -webkit-linear-gradient(top, #47759e, #d24343);
  background-image: -o-linear-gradient(top, #47759e, #d24343);
  background-image: linear-gradient(to bottom, #47759e, #d24343);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda4c4c', endColorstr='#ffd24343', GradientType=0);
}
.widget .details {
  font-size: 8pt;
  color: #45484d;
}
.widget .widget-body {
  padding: 20px 15px;
}
.widget .widget-body form {
  margin: 0;
}
.widget .widget-body .count {
  font-size: 15pt;
  font-weight: 400;
}
.widget .widget-body > p:last-child {
  margin: 0;
}
.widget .widget-body.list {
  color: #575655;
  padding: 0;
}
.widget .widget-body.list ul {
  margin: 0;
  list-style: none;
}
.widget .widget-body.list ul li {
  padding: 0 10px;
  height: 39px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  line-height: 39px;
  text-align: left;
  clear: both;
}
.widget .widget-body.list ul li:first-child {
  border-top: none;
}
.widget .widget-body.list ul li:last-child {
  border-bottom: none;
}
.widget .widget-body.list ul li .count {
  float: right;
  color: #47759e;
}
.widget .widget-body.list ul li .sparkline {
  position: relative;
  top: 5px;
  margin-left: 5px;
}
.widget .widget-body.list.products li {
  height: 60px;
  line-height: 60px;
}
.widget .widget-body.list.products .img {
  float: left;
  display: inline-block;
  width: 48px;
  height: 44px;
  line-height: 44px;
  color: #818181;
  text-align: center;
  background: #272729;
  margin: 8px 8px 0 0;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
}
.widget .widget-body.list.products .title {
  line-height: normal;
  display: inline-block;
  padding: 13px 0 0;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.widget .widget-body.list.products .title strong {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
}
.widget .widget-body.list.fluid ul li {
  height: auto;
  line-height: normal;
  padding: 10px;
}
.widget .widget-body.list.list-2 ul li {
  border-bottom: 1px solid #d8d9da;
  border-top: none;
  background: #f8f8f8;
}
.widget .widget-body.list.list-2 ul li.active {
  border-color: #dddddd;
  background: #fff;
}
.widget .widget-body.list.list-2 ul li.active i:before {
  font-weight: normal;
  background: #47759e;
  color: #fff;
  text-shadow: none;
}
.widget .widget-body.list.list-2 ul li.active a {
  color: #47759e;
}
.widget .widget-body.list.list-2 ul li:last-child {
  border-bottom: none;
}
.widget .widget-body.list.list-2 ul li a {
  display: block;
  color: #222;
  padding: 0 0 0 30px;
}
.widget .widget-body.list.list-2 ul li a i:before {
  color: #555;
  width: 20px;
  height: 17px;
  font-size: 14px;
  border: 1px solid #ccc;
  background: #dddddd;
  top: 9px;
  left: 0;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  text-shadow: 0 1px 0 #fff;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu {
  height: auto;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul {
  padding: 0 0 10px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li {
  height: auto;
  line-height: normal;
  background: none;
  border: none;
  line-height: 20px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li a {
  color: #333;
  padding: 0 0 0 20px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li.active a {
  font-weight: bold;
}
.widget .widget-footer {
  background: #f7f7f7;
  height: 25px;
  line-height: 25px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #ffffff;
}
.widget .widget-footer .glyphicons {
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  float: right;
}
.widget .widget-footer .glyphicons i:before {
  font-size: 16px;
  color: #c3c3c3;
  text-align: center;
  width: 20px;
  height: 25px;
  line-height: 25px;
  text-shadow: 0 1px 0 #fff;
}
.widget .widget-footer .glyphicons:hover i:before {
  color: rgba(0, 0, 0, 0.5);
}
.widget.margin-bottom-none {
  margin-bottom: 0;
}
.widget.widget-gray {
  background: #f5f5f5;
}
.widget.widget-gray .widget-head {
  background: #e9e9e9;
  border-color: #d1d2d3;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.widget.widget-gray .widget-head .heading {
  color: #555555;
  text-shadow: 0 1px 0 #fff;
}
.widget.widget-gray .widget-head .heading.glyphicons i:before {
  background: none;
  color: #555;
  border-color: rgba(0, 0, 0, 0.1);
}
.widget.widget-2:before,
.widget.widget-2:after {
  display: none;
}
.widget.widget-2 .widget-head {
  background: #e2e2e4;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
  height: 36px;
  line-height: 36px;
  border-color: #d1d2d3;
}
.widget.widget-2 .widget-head .heading {
  line-height: 36px;
  color: #555555;
  text-shadow: 0 1px 0 #fff;
  font-size: 12pt;
}
.widget.widget-2 .widget-head .heading i:before {
  color: #555555;
  background: none;
  border: none;
  left: 3px;
  top: 2px;
}
.widget.widget-2 .widget-body {
  border: 1px solid #d1d2d3;
  border-top: 0;
  background: #f5f5f5;
}
.widget.widget-2.primary .widget-head {
  background: #47759e;
  border-color: #47759e;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}
.widget.widget-2.primary .widget-head .heading {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.widget.widget-2.primary .widget-head .heading i:before {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.widget.widget-3:before,
.widget.widget-3:after {
  display: none;
}
.widget.widget-3 .widget-head {
  height: 36px;
  line-height: 36px;
}
.widget.widget-3 .widget-head .heading {
  display: block;
  text-align: center;
  float: none;
  line-height: 36px;
  height: 36px;
  text-transform: uppercase;
  font-size: 14pt;
}
.widget.widget-3 .widget-head .heading i:before {
  background: none;
  border: none;
  left: 3px;
  top: 0px;
  font-size: 20px;
  color: #45484d;
}
.widget.widget-3 .widget-head .heading .glyphicons {
  vertical-align: middle;
  width: 35px;
  height: 36px;
  padding: 0;
}
.widget.widget-3 .widget-body {
  border-bottom: 1px solid #dddddd;
}
.widget.widget-3 .widget-body.large {
  font-size: 26pt;
  font-weight: bold;
  text-shadow: 0 3px 0 #ececec;
  text-align: center;
  padding: 25px 0;
  vertical-align: middle;
  line-height: normal;
}
.widget.widget-3 .widget-body.large.cancellations span {
  line-height: 20px;
  text-align: left;
  font-size: 17pt;
  display: inline-block;
  text-shadow: none;
}
.widget.widget-3 .widget-body.large.cancellations span span {
  display: block;
}
.widget.widget-3 .widget-body.large.cancellations span span:first-child {
  color: #47759e;
  text-transform: uppercase;
  font-size: 13pt;
}
.widget.widget-3 .widget-body.large.dashboard {
  padding: 15px 0;
}
.widget.widget-3 .widget-footer {
  background: #fff;
  border-top: none;
}
.widget.widget-3 .widget-footer a {
  float: none;
  color: #dddddd;
  width: auto;
  padding: 0 10px 0 30px;
  border-right: 1px solid #dddddd;
  text-decoration: none;
}
.widget.widget-3 .widget-footer a i:before {
  color: #dddddd;
  left: 5px;
}
.widget.widget-3 .widget-footer a:hover {
  color: #47759e;
}
.widget.widget-3 .widget-footer a:hover i:before {
  color: #47759e;
}
.widget.widget-3 .widget-footer.align-center {
  text-align: center;
}
.widget.widget-3 .widget-footer.align-center a:first-child {
  border-left: 1px solid #dddddd;
}
.widget.widget-3 .widget-footer.align-right {
  text-align: right;
}
.widget.widget-3 .widget-footer.align-right a:first-child {
  border-left: 1px solid #dddddd;
}
.widget.widget-3 .widget-footer.align-right a:last-child {
  border-right: none;
}
.widget.widget-4 .widget-head {
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  background: #fff;
  border: none;
  border-bottom: 5px solid #eeeeee;
  height: 25px;
  line-height: 25px;
}
.widget.widget-4 .widget-head .heading {
  text-transform: uppercase;
  color: #222222;
  font-family: "Raleway", sans-serif;
  text-shadow: none;
  padding: 0;
  margin: 0;
  height: 25px;
  border-bottom: 5px solid #47759e;
}
.widget.widget-4 .widget-body {
  border: none;
}
.widget.widget-4 .widget-body.list ul li {
  padding: 0;
}
.widget.widget-tabs .tab-content {
  padding: 0;
}
.widget.widget-tabs .widget-head ul {
  list-style: none;
  height: 40px;
  margin: 0;
  border-right: 1px solid #f5f5f5;
  display: inline-block;
}
.widget.widget-tabs .widget-head ul li {
  height: 40px;
  line-height: 40px;
  float: left;
  display: block;
  border-right: 1px solid #d1d2d3;
}
.widget.widget-tabs .widget-head ul li a {
  width: auto;
  height: auto;
  display: block;
  padding: 0 15px;
  color: #939393;
  border-left: 1px solid #f5f5f5;
}
.widget.widget-tabs .widget-head ul li a i:before {
  left: 5px;
  top: 3px;
  color: #9d9d9d;
  text-shadow: 0 1px 0 #fff;
}
.widget.widget-tabs .widget-head ul li a.glyphicons {
  padding: 0 15px 0 35px;
}
.widget.widget-tabs .widget-head ul li.active {
  background: #fff;
  height: 41px;
  color: #555555;
}
.widget.widget-tabs .widget-head ul li.active i:before {
  color: #7a7a7a;
}
.widget.widget-tabs .widget-head ul li:first-child {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.widget.widget-tabs .widget-head ul li:first-child a {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.widget.widget-tabs .widget-body.large {
  padding: 25px;
}
.widget.widget-tabs-2 {
  border-bottom: 1px solid #dddddd;
}
.widget.widget-tabs-2.border-bottom-none {
  border-bottom: none;
}
.widget.widget-tabs-2 .widget-head {
  background: #fff;
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 0 10px;
}
.widget.widget-tabs-2 .widget-head ul {
  border-color: #ddd;
}
.widget.widget-tabs-2 .widget-head ul li {
  border: none;
}
.widget.widget-tabs-2 .widget-head ul li.active {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f7f7f7, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #ffffff);
  background-image: -o-linear-gradient(top, #f7f7f7, #ffffff);
  background-image: linear-gradient(to bottom, #f7f7f7, #ffffff);
  background-repeat: repeat-x;
}
.widget.widget-tabs-2 .widget-head ul li a {
  border: 1px solid #dddddd;
  border-bottom: none;
  border-right: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
}
.widget.widget-tabs-2 .widget-head ul li:first-child a {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.widget.widget-tabs-2 .widget-body {
  background: #fff;
  border: none;
  padding: 15px;
}
.widget.tabs-right .widget-head ul {
  float: right;
}
.widget.widget-body-white .widget-body {
  background: #fff;
}
p.glyphicons {
  padding: 5px 0 10px 75px;
}
p.glyphicons i:before {
  color: #D67170;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  font-size: 45pt;
  top: -10px;
}
p.glyphicons.right {
  padding: 0 75px 0 0;
}
p.glyphicons.right i:before {
  left: auto;
  right: 0;
}
p.glyphicons.envelope i:before {
  top: -5px;
}
.nav-tabs > li > a:hover,
.nav-pills > li > a,
.nav-pills > li > a:hover {
  background: #47759e;
  border-bottom-color: #47759e;
  color: #fff;
}
.nav-tabs {
  border-bottom-color: #47759e;
}
.nav-tabs > li > a {
  padding: 6px 8px;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background: #47759e;
  border-top-color: #47759e;
  border-left-color: #47759e;
  border-right-color: #47759e;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
}
.nav-pills a {
  cursor: pointer;
  color: #BAAC98;
  border-bottom: 1px solid #E1D6C7;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background: #f7f0e8 url("../images/pattern-granite.png") repeat;
  border-top-color: #e0d5c6;
  border-left-color: #e0d5c6;
  border-right-color: #e0d5c6;
  background: #D67170;
  color: #F7F0E8;
}
.nav-pills .glyphicons {
  padding-left: 25px;
}
.nav-pills .glyphicons i:before {
  position: relative;
  font-size: 14px;
  left: -10px;
  top: 2px;
  color: #F5EADB;
  font-weight: normal;
  text-shadow: none;
}
.tab-content {
  overflow: visible;
}
.label-primary {
  background: #47759e;
}
.label-warning {
  background: #74614f;
}
.label-important {
  background: #744646;
}
.label-success {
  background: #586e54;
}
.label-block {
  display: block;
}
/* Tables */
.table {
  margin: 0;
  position: relative;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f8f8f8;
}
.table th,
.table td {
  border-top-color: #f8f8f8;
}
.table td.center,
.table th.center {
  text-align: center;
}
.table td.right,
.table th.right {
  text-align: right;
}
.table-condensed {
  font-size: 10pt;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 10px;
}
.table-bordered {
  border-color: #d7d8da;
}
.table-bordered th,
.table-bordered td {
  border-color: #d7d8da;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child,
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child,
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.table-fill td {
  background: #F8F8F8;
}
.table .progress:last-child,
.table .alert:last-child {
  margin: 0;
}
.table .shortRight {
  width: 25%;
  text-align: right;
}
.table-large-spacing td {
  padding: 20px 15px;
}
.table .thead td {
  padding: 8px;
  font-weight: bold;
}
.table-vertical-center td,
.table-vertical-center th {
  vertical-align: middle;
}
.table-thead-simple thead th {
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #dddddd;
  color: #555;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  text-shadow: none;
  text-transform: none;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.table-thead-simple.table-thead-border-none {
  border-top: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.table-thead-simple.table-thead-border-none thead th {
  border-bottom: none;
}
.table-thead-simple.table-thead-border-none thead:first-child tr:first-child > th:last-child,
.table-thead-simple.table-thead-border-none tbody:first-child tr:first-child > td:last-child,
.table-thead-simple.table-thead-border-none tbody:first-child tr:first-child > th:last-child {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.table-primary {
  border-color: #dddddd;
  border-top: none;
}
.table-primary thead th {
  border-color: #47759e;
  background-color: #47759e;
  color: #fff;
  font-size: 14px;
}
.table-primary tbody td {
  color: #484c50;
  background: #fafafa;
  border-width: 0px;
}
.table-primary tbody td.important {
  color: #47759e;
  font-weight: 600;
}
.table-primary tbody td.actions {
  padding-right: 1px;
}
.table-primary.table-bordered tbody td {
  border-color: #dddddd;
  border-width: 1px;
  box-shadow: 0 0 0 1px #fff inset;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
  -moz-box-shadow: 0 0 0 1px #fff inset;
}
.table-primary tbody tr:nth-child(odd) td,
.table-primary tbody tr:nth-child(odd) th {
  background: #fff;
}
.table-primary tbody tr.selectable td {
  cursor: pointer;
}
.table-primary tbody tr.selected td,
.table-primary tbody tr.selectable:hover td {
  background: #e9e9e9;
  box-shadow: 0 0 0 1px #fff inset;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
  -moz-box-shadow: 0 0 0 1px #fff inset;
}
#DataTables_Table_0_filter {
  text-align: right;
}
#DataTables_Table_0_length select {
  width: 80px;
}
#DataTables_Table_0_info {
  padding: 20px 0;
}
.dataTables_paginate {
  text-align: right;
}
/* Pagination */
.pagination ul {
  background: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
.pagination ul > li > a:hover,
.pagination ul > li.primary > a {
  border-color: #608fb8;
  background: #47759e;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  border-color: #47759e;
  background: #47759e;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
}
.pagination ul > li > a,
.pagination ul > li > span {
  border-color: #dddddd;
}
.pagination ul > .primary.disabled > a,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
  border-color: #dddddd;
  background: #fafafa;
  color: #dddddd;
  text-shadow: none;
}
.pagination ul > .disabled > a:hover {
  border-color: #dddddd;
  background: #fafafa;
  color: #dddddd;
  text-shadow: none;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.google-visualization-table-div-page {
  margin: 10px 0 0 0 !important;
}
.google-visualization-table-div-page .a-d-e-h-g {
  padding: 0;
  border: none;
  margin: 0;
}
.google-visualization-table-div-page .a-d-e-f-g,
.google-visualization-table-div-page .a-d-e-h-g {
  border-style: none;
}
.google-visualization-table-div-page .a-d-e-o-q .a-d-e-h-g {
  border: none;
}
.google-visualization-table-div-page .a-d-e {
  background: none;
  margin-left: 5px;
}
.google-visualization-table-div-page .a-d-e.a-d-e-o-p {
  margin-left: 0;
}
.google-visualization-table-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #D7D8DA;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 10pt;
  background: none !important;
}
.google-visualization-table-table td,
.google-visualization-table-table .tableHeaderRow td {
  padding: 4px 10px;
  border: none;
  border-left: 1px solid #D7D8DA;
  border-top: 1px solid #D7D8DA;
  line-height: 20px;
}
.google-visualization-table-table .tableHeaderRow td {
  font-weight: bold;
  vertical-align: bottom;
}
.google-visualization-table-table tbody tr:nth-child(odd) td,
.google-visualization-table-table tbody tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.5);
}
.google-visualization-table-table .tableHeaderRow:first-child tr:first-child > td:first-child,
.google-visualization-table-table tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.google-visualization-table-table .tableHeaderRow:first-child tr:first-child > td:last-child,
.google-visualization-table-table tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.google-visualization-table-table tbody:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.google-visualization-table-table tbody:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.google-visualization-table-table .tableHeaderRow:first-child tr:first-child td,
.google-visualization-table-table tbody:first-child tr:first-child td {
  border-top: 0;
}
/* Accordions */
.accordion-group {
  border-color: #c1c1c1;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.accordion-inner {
  font-size: 13px;
  background: #fafafa;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.accordion-heading .accordion-toggle {
  background: #47759e;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.alert {
  margin: 0 0 10px;
  color: #74614f;
  border-color: #74614f;
  background: rgba(116, 97, 79, 0.2);
}
.alert h4 {
  margin: 0 0 5px;
  color: #74614f;
}
.alert.alert-error {
  background: rgba(116, 70, 70, 0.2);
  color: #744646;
  border-color: #744646;
}
.alert.alert-error .close {
  color: #744646;
}
.alert.alert-error h4 {
  color: #744646;
}
.alert.alert-primary {
  background: #47759e;
  color: #fff;
  border-color: #47759e;
  text-shadow: none;
}
.alert.alert-primary .close {
  color: #fff;
}
.alert.alert-primary h4 {
  color: #fff;
}
.alert.alert-info {
  background: #dff3f8;
  color: #7399b9;
  border-color: #93b9d8;
}
.alert.alert-info .close {
  color: #7399b9;
}
.alert.alert-success {
  border-color: #586e54;
  background: rgba(88, 110, 84, 0.2);
  color: #586e54;
}
.alert.alert-success .close,
.alert.alert-success h4 {
  color: #586e54;
}
.alert .close {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #74614f;
}
.progress .bar {
  background: #e8e8e8;
}
.progress.progress-info .bar {
  background: #93b9d8;
}
.progress.progress-success .bar {
  background: #586e54;
}
.progress.progress-primary .bar {
  background: #47759e;
}
.progress.progress-danger .bar {
  background: #744646;
}
.sliders-vertical span {
  height: 120px;
  float: left;
  margin: 15px;
}
.ui-widget-header {
  border-color: #47759e;
  background: #47759e;
  color: #fff;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #fafafa;
  border-color: #dddddd;
  color: #797979;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #47759e;
  color: #fff;
}
.ui-widget-content {
  border: none;
}
.ui-datepicker-inline {
  width: 100%;
  padding: 0;
}
.ui-slider-wrap {
  display: block;
  padding: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.ui-slider-wrap .ui-slider {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.ui-slider-wrap .ui-slider-horizontal {
  height: 10px;
}
.ui-slider-wrap .ui-slider-horizontal .ui-slider-handle {
  top: -5px;
}
.ui-slider-wrap .ui-slider-vertical .ui-slider-handle {
  left: -4px;
}
.ui-slider-wrap .ui-slider-handle {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  background: #fff;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  width: 13px;
  height: 13px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ui-slider-wrap .ui-slider-range {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.05) inset;
  background: rgba(0, 0, 0, 0.2);
}
.ui-slider-wrap .slider-primary .ui-slider-handle {
  border-color: #47759e;
}
.ui-slider-wrap .slider-primary .ui-slider-range {
  background: #47759e;
}
.ui-slider-wrap .slider-warning .ui-slider-handle {
  border-color: #FBB450;
}
.ui-slider-wrap .slider-warning .ui-slider-range {
  background: #FBB450;
}
.ui-slider-wrap .slider-success .ui-slider-handle {
  border-color: #609450;
}
.ui-slider-wrap .slider-success .ui-slider-range {
  background: #609450;
}
.ui-slider-wrap .slider-inverse .ui-slider-handle {
  border-color: #3F4246;
}
.ui-slider-wrap .slider-inverse .ui-slider-range {
  background: #3F4246;
}
.ui-slider-wrap .slider-info .ui-slider-handle {
  border-color: #93B9D8;
}
.ui-slider-wrap .slider-info .ui-slider-range {
  background: #93B9D8;
}
.sliders-vertical {
  position: relative;
  margin: 0 auto;
  display: inline-block;
}
.sliders-vertical .ui-slider-wrap {
  margin: 0 5px;
}
.sliders-vertical .ui-slider {
  margin: 0;
}
blockquote {
  margin: 0;
  padding: 0 0 0 5px;
}
blockquote,
blockquote.pull-right {
  border: none;
}
blockquote p {
  font-weight: 400;
  font-size: 13px;
  margin: 0 0 10px;
}
blockquote small {
  color: #47759e;
}
.vertical-range-slider .ui-slider-wrap {
  display: inline-block;
  margin: 0 auto;
}
.separator {
  padding: 20px 0;
  display: block;
}
.separator.bottom {
  padding: 0 0 20px;
}
.separator.top {
  padding: 20px 0 0;
}
hr {
  border-top-color: #cbcccd;
  margin: 20px 0;
}
hr.separator {
  padding: 0;
}
hr.separator.top {
  margin: 20px 0 0;
}
hr.separator.bottom {
  margin: 0 0 20px;
}
.breadcrumb {
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin: 0;
  background: #fafafa;
  color: #797979;
  border-bottom: 1px solid #ddd;
  font-size: 9pt;
}
.breadcrumb a {
  color: #295578;
  font-weight: 600;
}
.breadcrumb .glyphicons {
  color: #295578;
  padding: 0 0 0 20px;
}
.breadcrumb .glyphicons i:before {
  color: #295578;
  font-size: 14px;
  top: 3px;
}
.breadcrumb .divider {
  margin: 0 3px;
  width: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #bfc2c5;
  height: 10px;
}
.well {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: none;
  z-index: 1;
  position: relative;
  padding: 15px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  background: #fafafa;
}
.well.small {
  padding: 10px;
}
.well .popover {
  z-index: 2;
  font-size: 13px;
}
.btn-block {
  width: 100%;
}
.btn-group-vertical.block {
  display: block;
}
.btn {
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.09) inset;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.09) inset;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.09) inset;
}
.btn-default {
  background: #f4f4f4;
  border: 1px solid #dcdcdc;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 0 #fff;
  font-weight: 600;
}
.btn-group.open .btn-default.dropdown-toggle,
.btn-default.disabled,
.btn-default[disabled],
.btn-default:hover {
  background: #e8e8e8;
}
.btn-default .caret {
  border-top-color: rgba(0, 0, 0, 0.5);
}
.btn {
  font-weight: 600;
}
.btn-warning {
  background: #74614f;
  border: 1px solid #74614f;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-warning.glyphicons i:before {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: none;
}
.btn-group.open .btn-warning.dropdown-toggle,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning:hover {
  background: #74614f;
  color: #fff;
}
.btn-warning .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-info {
  background: #93B9D8;
  border: 1px solid #93B9D8;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-info.glyphicons i:before {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: none;
}
.btn-group.open .btn-info.dropdown-toggle,
.btn-info.disabled,
.btn-info[disabled],
.btn-info:hover {
  background: #93B9D8;
  color: #fff;
}
.btn-info .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-danger {
  background: #744646;
  color: #fff;
}
.btn-danger.glyphicons i:before {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: none;
}
.btn-primary {
  background: #47759e;
  border: 1px solid #375b7b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-primary.glyphicons i:before {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: none;
}
.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:hover {
  background: #47759e;
  color: #fff;
}
.btn-primary .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn-group.btn-block {
  padding: 0;
  position: relative;
}
.btn-group.btn-block .leadcontainer {
  left: 0;
  position: absolute;
  right: 29px;
}
.btn-group.btn-block .leadcontainer > .btn:first-child {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.btn-group.btn-block .dropdown-lead {
  box-sizing: border-box;
  width: 100%;
}
.btn-group.btn-block .dropdown-toggle {
  width: 30px;
  float: right;
  box-sizing: border-box;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.btn-inverse {
  background: #45484d;
  border: 1px solid #45484d;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-inverse.glyphicons i:before {
  color: #919293;
  text-shadow: none;
}
.btn-group.open .btn-inverse.dropdown-toggle,
.btn-inverse.disabled,
.btn-inverse[disabled],
.btn-inverse:hover {
  background: #3f4246;
  color: #fff;
}
.btn-inverse .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.btn-success {
  background: #586e54;
  border: 1px solid #586e54;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-success.glyphicons i:before {
  color: #a2bc9b;
  text-shadow: none;
}
.btn-group.open .btn-success.dropdown-toggle,
.btn-success.disabled,
.btn-success[disabled],
.btn-success:hover {
  background: #609450;
  color: #fff;
}
.btn-success .caret {
  border-top-color: #a2bc9b;
  border-bottom-color: #a2bc9b;
}
/* Flot */
#flotTip {
  white-space: nowrap;
  border: 1px solid #47759e;
  padding: 3px 8px;
  background: #47759e;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 100;
  color: #fff;
}
.finances_summary .well {
  font-size: 16px;
  text-align: center;
}
.finances_summary .well strong {
  display: block;
  font-size: 22pt;
  color: #45494c;
  line-height: normal;
}
.finances_summary .glyphicons.standard i:before {
  color: #cccccc;
}
.glyphicons.standard {
  width: 24px;
  height: 24px;
  padding: 0;
}
.glyphicons.single {
  color: #47759e;
  padding: 0 0 0 20px;
}
.glyphicons.single i:before {
  font-size: 13px;
  top: 4px;
  color: #47759e;
}
.glyphicons.text-error {
  color: #47759e;
}
.glyphicons.text-error i:before {
  color: #47759e;
}
.glyphicons.text-info {
  color: #5d92b3;
}
.glyphicons.text-info i:before {
  color: #5d92b3;
}
.glyphicons.text-success {
  color: #719d46;
}
.glyphicons.text-success i:before {
  color: #719d46;
}
.glyphicons.btn-action {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9) inset;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9) inset;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9) inset;
  width: 25px;
  height: 25px;
  padding: 0;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
}
.glyphicons.btn-action i:before {
  font-size: 14px;
  top: 5px;
  left: 5px;
  text-shadow: 0 1px 0 #fff;
}
.glyphicons.btn-action.btn-info {
  background: #c2d5e1;
  border-color: #c2d5e1;
}
.glyphicons.btn-action.btn-info i:before {
  color: #5d92b3;
}
.glyphicons.btn-action.btn-success {
  background: rgba(88, 110, 84, 0.1);
  border-color: rgba(88, 110, 84, 0.2);
}
.glyphicons.btn-action.btn-success i:before {
  color: #586e54;
}
.glyphicons.btn-action.btn-danger {
  background: rgba(116, 70, 70, 0.1);
  border-color: rgba(116, 70, 70, 0.2);
}
.glyphicons.btn-action.btn-danger i:before {
  color: #744646;
}
.glyphicons.btn-action.single {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  background: none;
  margin-right: 10px;
}
.glyphicons.btn-icon {
  text-align: left;
  padding: 5px 7px 5px 40px;
}
.glyphicons.btn-icon i:before {
  font-size: 15px;
  top: 0;
  left: 0;
  width: 33px;
  height: 23px;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  vertical-align: middle;
  padding: 7px 0 0;
  text-align: center;
}
.glyphicons.btn-icon.right {
  text-align: left;
  padding: 5px 0 5px 7px;
}
.glyphicons.btn-icon.right i:before {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  right: 0;
  left: auto;
  text-align: center;
}
.glyphicons.btn-large {
  padding: 10px 10px 10px 40px;
  font-weight: 600;
}
.glyphicons.btn-large i:before {
  top: 12px;
  left: 12px;
  font-size: 17px;
}
.glyphicons.btn-large.btn-icon i:before {
  top: 0;
  left: 0;
  height: 28px;
  padding: 12px 0 0;
}
.glyphicons.btn-small {
  padding: 2px 10px 2px 35px;
}
.glyphicons.btn-small i:before {
  padding: 5px 0 0;
  width: 28px;
  height: 19px;
  font-size: 14px;
}
.glyphicons.btn-mini {
  padding: 1px 6px 1px 33px;
}
.glyphicons.btn-mini i:before {
  padding: 5px 0 0;
  width: 26px;
  height: 17px;
  font-size: 13px;
}
.glyphicons.orange i:before {
  color: #EDB459;
}
.glyphicons.btn-default i:before {
  color: #9e9e9e;
  text-shadow: none;
}
h4.glyphicons {
  padding: 0 0 0 35px;
  display: block;
}
h4.glyphicons i:before {
  font-size: 22px;
  font-weight: normal;
  color: #575655;
}
h3.glyphicons,
h2.glyphicons {
  padding: 0 0 0 45px;
  display: block;
}
h3.glyphicons i:before,
h2.glyphicons i:before {
  font-size: 30px;
  font-weight: normal;
  left: 2px;
  top: 5px;
  color: #575655;
}
h3.glyphicons.cogwheels i:before,
h2.glyphicons.cogwheels i:before {
  left: 5px;
}
/* Forms */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #E0D5C6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e0d5c6;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e0d5c6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e0d5c6;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 13px;
}
.uniformjs .radio .disabled input[type="radio"],
.uniformjs .checkbox .disabled input[type="checkbox"] {
  margin-left: 0;
}
.uniformjs .radio,
.uniformjs .checkbox {
  padding-left: 0;
}
.uniformjs .radio {
  height: auto;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 3px;
}
.uniformjs label.radio {
  margin-bottom: 0;
}
.uniformjs label.radio.inline {
  margin: 0;
}
.checkbox.inline {
  padding-bottom: 1px;
}
.uniformjs .radio span {
  margin: 2px 0 0;
}
.uniformjs .checkbox span {
  margin: -2px 0 0;
}
label,
input,
button,
select,
textarea {
  font-size: 13px;
}
.input-full input {
  width: 83%;
  height: 17px;
}
legend {
  line-height: normal;
  height: auto;
  font-size: 18px;
  margin: 0 0 6px;
  text-align: left;
  padding: 0;
  border: 0;
  color: #797979;
}
.btn-group > .btn,
.btn-group > .dropdown-menu {
  font-size: 13px;
}
.strong {
  font-weight: bold;
}
input[type=text],
input[type=password],
select,
textarea {
  border-color: #D8D9DA;
  color: #A7A7A7;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.control-label.center {
  text-align: center;
}
.form-actions {
  background: none;
  border: none;
  margin: 0;
}
.form-horizontal .form-actions {
  margin-top: 0;
  padding: 0;
}
.form-horizontal .controls {
  margin-left: 145px;
}
.form-horizontal .control-label {
  width: 125px;
}
.form-horizontal .control-group:last-child {
  margin: 0;
}
.input-prepend .add-on,
.input-append .add-on {
  background: #fff;
}
.input-prepend .add-on i:before,
.input-append .add-on i:before {
  color: #D0D1D1;
}
.input-prepend .add-on icon,
.input-append .add-on icon {
  margin-top: 0;
}
.input-prepend .add-on.glyphicons,
.input-append .add-on.glyphicons {
  background: #fff;
}
.input-prepend .add-on.glyphicons i:before,
.input-append .add-on.glyphicons i:before {
  font-size: 14px;
  left: 7px;
  top: 7px;
  color: #D0D1D1;
}
.input-append .add-on.glyphicons i:before {
  left: 6px;
}
/* Gallery */
.gallery ul {
  margin: 0;
  padding: 0 5px;
  list-style: none;
}
.gallery ul li {
  /*&.span2:nth-child(6n+7) { margin-left: 0; }
			&.span3:nth-child(4n+5) { margin-left: 0; }*/

}
.gallery ul li .thumb {
  position: relative;
  background: #47759e;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  z-index: 1;
}
.gallery ul li.span4 {
  margin-left: 0;
}
.gallery ul li.span3 {
  margin-left: 0;
}
.gallery ul li.span2 {
  margin-left: 0;
}
/* Site pages */
.pages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pages ul li {
  display: block;
  background: #dfdfdf;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0);
  margin-bottom: 2.127659574468085%;
  border: 1px solid #bec0c6;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 15px 15px 65px;
  color: #9e9e9e;
  text-shadow: 0 1px 0 #fff;
}
.pages ul li > i:before {
  font-size: 40px;
  left: 12px;
  top: 16px;
  color: #9e9e9e;
}
.pages ul li.span3:nth-child(4n+5) {
  margin-left: 0;
}
.pages ul li strong {
  font-size: 11pt;
  padding: 3px 0 5px;
  display: block;
}
.pages ul li .actions {
  display: block;
}
.pages ul li .actions .glyphicons {
  padding: 0 2px 0 20px;
  color: #9e9e9e;
}
.pages ul li .actions .glyphicons i:before {
  font-size: 15px;
  top: 3px;
  color: #9e9e9e;
}
.pages ul li .actions .glyphicons.pencil i:before {
  content: "\270F";
  font-size: 14px;
}
.pages ul li .actions .glyphicons.edit i:before {
  top: 1px;
}
.pages ul li:hover,
.pages ul li.primary {
  background-color: #da4c4c;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-color: #da4c4c;
}
.pages ul li:hover .glyphicons,
.pages ul li.primary .glyphicons {
  color: #fff;
}
.pages ul li:hover .glyphicons i:before,
.pages ul li.primary .glyphicons i:before {
  color: #f4cbcb;
}
.pages ul li:hover i:before,
.pages ul li.primary i:before {
  color: #f4cbcb;
}
/* Calendar */
.fc-state-highlight {
  background: rgba(0, 0, 0, 0.2);
}
#external-events ul {
  list-style: none;
  margin: 0 0 20px;
}
#external-events li {
  margin: 0 0 5px;
  padding: 2px 5px;
  background: #47759e;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  font-size: .85em;
  cursor: pointer;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
}
#external-events li.glyphicons {
  padding: 2px 5px 2px 30px;
  display: block;
}
#external-events li.glyphicons i:before {
  font-size: 14px;
  color: #fff;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.fc-header-title h2 {
  font-size: 16pt;
  line-height: 25px;
}
.fc-event-skin {
  border-color: #47759e;
  background-color: #47759e;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
}
.fc-event-time,
.fc-event-title {
  padding: 0 5px;
}
#calendar .btn-group .btn-primary {
  margin-right: 2px;
}
pre.prettyprint {
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f8f8f8), color-stop(50%, #eeeeee));
  background-image: -webkit-linear-gradient(#f8f8f8 50%, #eeeeee 50%);
  background-image: -moz-linear-gradient(#f8f8f8 50%, #eeeeee 50%);
  background-image: -o-linear-gradient(#f8f8f8 50%, #eeeeee 50%);
  background-image: linear-gradient(#f8f8f8 50%, #eeeeee 50%);
  -moz-background-size: 38px 38px;
  background-size: 38px 38px;
  border: 1px solid #d7d8da;
  display: block;
  line-height: 19px;
  margin-bottom: 10px;
  overflow: visible;
  overflow-y: hidden;
  padding: 0 0 0 4px;
}
pre.prettyprint .glyphicons {
  padding: 0 0 0 20px;
}
pre.prettyprint .glyphicons i:before {
  font-size: 17px;
  top: 1px;
}
.highlight-1 {
  background: #D67170;
  display: inline-block;
  padding: 0 5px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  font-weight: bold;
}
.lt-ie9 .widget .widget-body.list ul li {
  border-bottom: 1px solid #efefef;
}
.lt-ie9 .navbar.main .btn-navbar {
  float: left;
}
.lt-ie9 .navbar.main .topnav {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
}
.lt-ie9 .navbar.main .topnav .dropdown > a .caret {
  margin-top: 0;
  top: 8px;
  left: 5px;
}
.lt-ie9 .heading-buttons h1.glyphicons,
.lt-ie9 .heading-buttons h2.glyphicons,
.lt-ie9 .heading-buttons h3.glyphicons,
.lt-ie9 .heading-buttons h4.glyphicons,
.lt-ie9 .heading-buttons h5.glyphicons,
.lt-ie9 .heading-buttons h6.glyphicons {
  float: left;
}
/* Documentation */
#docs_icons {
  padding: 20px;
}
#docs_icons .glyphicons {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 125px;
  font-size: 12px;
  line-height: 48px;
  overflow: hidden;
}
#docs_icons .glyphicons i:before {
  line-height: 55px !important;
}
.documentation ul ul {
  margin-bottom: 10px;
}
.documentation .span3 .menu.affix {
  position: fixed;
  top: 20px;
  width: 220px;
}
.documentation .show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.documentation .show-grid [class*="span"] {
  background-color: #535a5e;
  text-align: center;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  min-height: 40px;
  line-height: 40px;
  color: #fff;
}
.documentation .show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.documentation .show-grid .show-grid [class*="span"] {
  background-color: #848d93;
}
.thumb {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
}
.margin-bottom-none {
  margin-bottom: 0;
}
/* Responsive */
@media (min-width: 980px) {
  
}
@media (max-width: 979px) {
  .container-fluid.fixed {
    width: auto;
    border: none;
    margin: 0;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .nav-tabs > li > a {
    font-size: 10pt;
  }
  .nav-tabs > li > a,
  .nav-pills > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .documentation .span3 .menu.affix {
    position: relative;
    top: 0;
    width: auto;
  }
  .phone-margin.bottom {
    margin: 0 0 10px;
  }
  .well {
    padding: 5px;
  }
  .widget .widget-body {
    padding: 10px 5px;
  }
  .widget.margin-bottom-none {
    margin-bottom: 20px;
  }
  .widget.widget-tabs .widget-head {
    height: auto;
    padding: 0;
  }
  .widget.widget-tabs .widget-head ul {
    display: block;
    border-right: none;
    height: auto;
  }
  .widget.widget-tabs .widget-head ul li {
    float: none;
    display: block;
    width: 100%;
  }
  .media {
    text-align: center;
  }
  .media img.pull-left,
  .media img.pull-right {
    display: inline-block;
  }
  .media blockquote {
    padding: 0;
    text-align: center;
  }
  .media blockquote.pull-right p,
  .media blockquote.pull-right small {
    text-align: center;
  }
  .widget-stats {
    margin: 0 0 10px;
  }
  .menu-right #menu {
    left: 0;
    right: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
    border-left: none;
    border-right: 1px solid #adafb1;
  }
  .menu-right #content {
    margin: 0 0 0 204px;
  }
  .menu-right.menu-hidden #content {
    margin: 0;
  }
}
@media (max-width: 480px) {
  h1,
  h2,
  h3 {
    line-height: 30px;
    font-size: 18pt;
  }
  h3.glyphicons i:before,
  h2.glyphicons i:before {
    font-size: 24px;
    top: 3px;
    left: 5px;
  }
  .heading-buttons .buttons {
    margin-top: 10px;
    float: none;
    padding: 0 10px;
    text-align: center;
  }
  .heading-buttons .buttons .btn {
    margin: 0;
    float: none;
  }
  .separator {
    padding: 5px 0;
    margin: 0;
  }
  .table-condensed th,
  .table-condensed td {
    padding: 4px 5px;
  }
  p.glyphicons {
    padding: 5px 0 10px 55px;
  }
  p.glyphicons i:before {
    color: #D67170;
    font-size: 35pt;
    top: 0;
  }
  p.glyphicons.right {
    padding: 0 55px 0 0;
  }
}
@media (max-width: 320px) {
  .nav-tabs > li,
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover {
    display: block;
    float: none;
    margin: 0 0 -1px;
    border-color: #47759e;
  }
  .nav-tabs > li:hover {
    border-color: #47759e;
  }
  .nav-tabs > li,
  .nav-tabs > li > a {
    border-color: #E0D5C6;
    background: #F5EADB;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
}
@media (max-width: 240px) {
  
}
@media (max-width: 979px) and (min-width: 768px) {
  .widget-stats {
    padding: 36px 0;
  }
  .widget-stats .glyphicons {
    padding: 0;
  }
  .widget-stats .glyphicons i:before {
    font-size: 30px;
    top: -5px;
  }
  .widget.widget-3 .widget-head {
    padding: 0;
  }
  .widget.widget-3 .widget-head .heading {
    font-size: 13px;
    overflow: hidden;
    padding: 0;
  }
  .widget.widget-3 .widget-head .heading .glyphicons {
    width: 18px;
    float: left;
  }
  .widget.widget-3 .widget-head .heading i:before {
    font-size: 14px;
    left: 0;
    top: 3px;
  }
}
@media (max-width: 979px) and (min-width: 480px) {
  
}
/* High-Res / Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
/* Responsive Tables */
@media only screen and (max-width: 979px) {
  .table-responsive.swipe-horizontal {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    width: 100%;
    border-left: 1px solid #DDD;
  }
  .table-responsive.swipe-horizontal th,
  .table-responsive.swipe-horizontal td {
    display: block;
    margin: 0;
    vertical-align: top;
  }
  .table-responsive.swipe-horizontal th {
    text-align: right;
    border-bottom: 0;
    border-left: 0;
  }
  .table-responsive.swipe-horizontal td {
    min-height: 1.25em;
    text-align: left;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
  }
  .table-responsive.swipe-horizontal thead {
    display: block;
    float: left;
  }
  .table-responsive.swipe-horizontal thead tr {
    display: block;
  }
  .table-responsive.swipe-horizontal tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
  }
  .table-responsive.swipe-horizontal tbody tr {
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #d7d8da;
  }
  .table-responsive.block {
    /* Force table to not be like tables anymore */
  
    /* Hide table headers (but not display: none;, for accessibility) */
  
    /*
  			Label the data
  			*/
  
  }
  .table-responsive.block table,
  .table-responsive.block thead,
  .table-responsive.block tbody,
  .table-responsive.block th,
  .table-responsive.block td,
  .table-responsive.block tr {
    display: block;
  }
  .table-responsive.block thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive.block tr {
    border: 1px solid #d7d8da;
  }
  .table-responsive.block td {
    /* Behave  like a "row" */
  
    border: none;
    border-bottom: 1px solid #d7d8da;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .table-responsive.block td:before {
    /* Now like a table header */
  
    position: absolute;
    /* Top/left values mimic padding */
  
    vertical-align: middle;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
  }
  .table-responsive.block td:before {
    content: attr(data-title);
  }
}
/* Preview screen only */
body.choose {
  background: #d2d1cf;
  text-align: center;
  overflow: visible;
}
body.choose hr {
  border-bottom-color: #e8e8e8;
  border-top-color: #aeaeae;
}
body.choose h1 {
  font-size: 24.5px;
}
body.choose h1 span {
  color: #47759e;
}
body.choose ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.choose ul li {
  height: 40px;
  line-height: 40px;
}
body.choose ul li span {
  display: inline-block;
  width: 130px;
  text-align: left;
}
body.choose #choose-preview {
  width: 470px;
  height: 366px;
  background: url("../images/choose-preview.jpg") no-repeat;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
body.choose #choose-preview > span {
  width: 357px;
  height: 222px;
  line-height: 222px;
  background: #222;
  color: #efefef;
  position: absolute;
  left: 57px;
  top: 17px;
}
body.choose #choose-preview > span span {
  display: block;
}
@media (max-width: 767px) {
  body.choose ul li {
    height: auto;
    text-align: center;
    line-height: normal;
  }
  body.choose ul li span {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 0 5px;
  }
  body.choose #choose-preview {
    background: none;
    width: 357px;
    height: 222px;
  }
  body.choose #choose-preview > span {
    left: 0;
    top: 0;
  }
}
.notyfy_wrapper.notyfy_primary {
  background: #47759e;
  border: none;
}
.notyfy_wrapper.notyfy_primary,
.notyfy_wrapper.notyfy_primary * {
  color: #fff;
}
/* Form Wizard */
.wizard .wizard-head {
  background: #fafafa;
  border: 1px solid #c1c1c1;
  border-bottom: none;
}
.bwizard-steps .label {
  position: relative;
  top: -1px;
  margin: 0 5px 0 0;
  padding: 1px 5px 2px;
}
.bwizard-steps .active .label {
  background-color: #333;
}
.bwizard-steps {
  display: block;
  margin: 0;
  padding: 0;
  height: 40px;
  list-style: none;
}
.bwizard-steps li {
  display: block;
  float: left;
  position: relative;
  margin-right: 3px;
  line-height: 40px;
  height: 40px;
  background: #f5f5f5;
}
.bwizard-steps li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 40px;
}
.bwizard-steps li.active {
  color: #fff;
  background: #47759e;
}
.bwizard-steps li.active:after {
  border-left-color: #47759e;
}
.bwizard-steps li.active a {
  color: #fff;
  cursor: default;
}
.bwizard-steps li:after {
  position: absolute;
  right: -20px;
  top: 0;
  height: 0;
  width: 0;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #f5f5f5;
  border-top: 20px inset transparent;
  content: "";
  z-index: 2;
}
.bwizard-steps li:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #fff;
  border-top: 20px inset transparent;
  content: "";
}
.bwizard-steps li:last-child {
  margin-right: 0;
}
.bwizard-steps li:first-child:before {
  border: none;
}
.bwizard-steps li:first-child a {
  padding-left: 20px;
}
.bwizard-steps a:hover {
  text-decoration: none;
}
.bwizard-steps.clickable li:not (.active ) {
  cursor: pointer;
}
.bwizard-steps.clickable li:hover:not (.active ) {
  background: #ccc;
}
.bwizard-steps.clickable li:hover:not (.active ):after {
  border-left-color: #ccc;
}
.bwizard-steps.clickable li:hover:not (.active ) a {
  color: #08c;
}
@media (max-width: 480px) {
  /* badges only on small screens */
  .bwizard-steps li:after,
  .bwizard-steps li:before {
    border: none;
  }
  .bwizard-steps li,
  .bwizard-steps li.active,
  .bwizard-steps li:first-child,
  .bwizard-steps li:last-child {
    margin-right: 0;
    padding: 0;
    background-color: transparent;
  }
}
