.yui .ajax__tab_header
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 3px #10B0EA;
}
.yui .ajax__tab_header .ajax__tab_outer 
{
    background:url(img/sprite.png) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:0px 0px 0px 0px;
   
    vertical-align:bottom;
    border:solid 1px #10B0EA;
    border-bottom-width:0px;
}
.yui .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.yui .ajax__tab_hover .ajax__tab_outer 
{
    background: url(img/sprite.png) #bfdaff repeat-x left -1300px;
}
.yui .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.yui .ajax__tab_active .ajax__tab_outer
{
    background:url(img/sprite.png) #10B0EA repeat-x left -1400px;
}
.yui .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;
    border:solid 1px #10B0EA;
    border-top-width:0px;
}