.yui .ajax__tab_header
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 1px #207CE8;
}
.yui .ajax__tab_header .ajax__tab_outer 
{
background:url(img/head-bg.png) #d8d8d8 repeat-x;
background-color: #0D83DD;
    margin:0px 0.16em 0px 0px;
    padding:0px 0px 0px 0px;
    vertical-align:bottom;
    border:solid 1px #207CE8;
    border-bottom-width:0px;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.yui .ajax__tab_header .ajax__tab_tab
{    
    color:#ffffff;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
/*.yui .ajax__tab_hover .ajax__tab_outer
{
    background: url(img/tab-bg.png) #bfdaff repeat-x left;
}*/
.yui .ajax__tab_active .ajax__tab_tab
{
    color:#ffffff; font-weight: bold;
}
.yui .ajax__tab_active .ajax__tab_outer
{
background:url(img/tab-bg-sel.png) #10B0EA repeat-x left;
border:1px solid #4B9404;
-webkit-border-radius:3px 3px 0 0;
-moz-border-radius:3px 3px 0 0;
border-radius: 3px 3px 0 0;
}
.yui .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#E7F1FD;
    border:solid 1px #117EFB;
    border-top-width:0px;
}