﻿<%@ Page Title="DAR Submission Report" MasterPageFile="~/Master/EmployeeExt.Master" Language="C#"
    AutoEventWireup="true" CodeBehind="DAR_Report.aspx.cs" Inherits="Web.Employee.DAR_Report" %>

<%@ Register Src="~/Activity/UserControls/DAR_ReportCtl.ascx" TagName="HRViewCtl"
    TagPrefix="uc" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="mainContent">
 <div style="margin-top: 10px">
    </div>
    <uc:HRViewCtl runat="server" id="h1" IsAdmin="false"/>
</asp:Content>
