﻿<%@ Page Title="DAR History" Language="C#" MasterPageFile="~/Master/EmployeeExt.Master"
    AutoEventWireup="true" CodeBehind="DAR_History.aspx.cs" Inherits="Web.Employee.DAR_History" %>
    <%@ Register Src="~/Activity/UserControls/DAR_HistoryCtl.ascx" TagName="HRViewCtl"
    TagPrefix="uc" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="head">

</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="mainContent">
     <uc:HRViewCtl runat="server" id="h11"  IsAdmin="false"/>
</asp:Content>
