﻿<%@ Page Title="Verify Activities" MasterPageFile="~/Master/EmployeeExt.Master" Language="C#" AutoEventWireup="true"
    CodeBehind="HRView.aspx.cs" Inherits="Employee.Activity.HRView" %>

<%@ Register Src="~/Activity/UserControls/HRViewCtl.ascx" TagName="HRViewCtl" TagPrefix="uc" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="mainContent"> <div style="margin-top: 10px">
    </div>
    <uc:HRViewCtl runat="server" Id="h1" IsAdmin="false"/>
</asp:Content>
