<%@ Page Title="About" Language="C#" MasterPageFile="~/Master/Details.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Web.CP.About" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <p>
        <img alt="rigopayroll" src="../images/about.RigoPayroll.jpg" 
            style="width: 362px; height: 127px" /></p>

    <p>
    Version : <span id="lblVersion" runat="server" />
    </p>
</asp:Content>
