<%@ Page Title="OT Group" Language="C#" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="AEAutoOTGroup.aspx.cs" Inherits="Web.CP.AEAutoOTGroup" %>
<%@ Register src="~/UserControls/Gratuity/AEAutoOvertimeGroup.ascx" tagname="AEGratuityCtl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <uc1:AEGratuityCtl Id="AEGratuityCtl1" runat="server" />
</asp:Content>
