<%@ Page Title="Bonus Entry" Language="C#" EnableViewState="true" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="AEBonus.aspx.cs" Inherits="Web.CP.AEBonus" %>
<%@ Register src="~/UserControls/Gratuity/AEBonusCtl.ascx" tagname="AEGratuityCtl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <uc1:AEGratuityCtl Id="AEGratuityCtl1" runat="server" />
</asp:Content>
