﻿<%@ Page Title="Change password" Language="C#" MasterPageFile="~/Master/HROld.Master"
    AutoEventWireup="true" CodeBehind="ChangePassword.aspx.cs" Inherits="Web.CP.ChangePassword" %>

<%@ Register Src="~/Controls/InfoMsgCtl.ascx" TagName="MsgCtl" TagPrefix="uc2" %>
<%@ Register Src="~/UserControls/ChangePasswordCtl.ascx" TagName="ChangePasswordCtl"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style2
        {
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    
    <div class="contentpanel">
        <uc1:ChangePasswordCtl Id="ChangePasswordCtl1" runat="server" />
    </div>
</asp:Content>
