<%@ Page Title="Opening leave balance" Language="C#" MasterPageFile="~/Master/HROld.Master"
    AutoEventWireup="true" CodeBehind="LeaveOpeningBal.aspx.cs" Inherits="Web.CP.LeaveOpeningBal" %>

<%@ Register Src="../UserControls/LeaveOpeningBalance.ascx" TagName="LeaveOpeningBalance"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <div class="pageheader">
        <div class="media">
            <div class="media-body">
                <h4>
                    Opening Leave Balance
                </h4>
            </div>
        </div>
    </div>
    <div class="contentpanel">
        <uc1:LeaveOpeningBalance Id="LeaveOpeningBalance1" runat="server" />
    </div>
</asp:Content>
