﻿<%@ Page Title="Logged User Details" Language="C#" MasterPageFile="~/Master/Details.Master"
    AutoEventWireup="true" CodeBehind="LoggedUserDetails.aspx.cs" Inherits="Web.CP.LoggedUserDetails" %>

<%@ Register Src="~/Controls/InfoMsgCtl.ascx" TagName="MsgCtl" TagPrefix="uc2" %>
<%@ Register Src="~/UserControls/ChangePasswordCtl.ascx" TagName="ChangePasswordCtl"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style2
        {
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <ext:ResourceManager runat="server" />
    <h3>
        Logged User Details</h3>
    <div style="clear:both">
    </div>
    <ext:DisplayField runat="server" ID="adminUserCount" Text="" FieldLabel="Admin User Count" />
   <%-- <ext:DisplayField runat="server" ID="employeeUserCount" Text="" FieldLabel="Employee User Count" />--%>
</asp:Content>
