﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Master/ForPopupPage.Master" CodeBehind="ManageInsuranceName.aspx.cs" Inherits="Web.CP.ManageInsuranceName" %>
<%@ Register src="../UserControls/InsuranceName.ascx" tagname="InsuranceName" tagprefix="uc" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">

    <uc:InsuranceName ID="InsuranceName1" runat="server" />

  

</asp:Content>
