<%@ Page Title="Grade list" Language="C#" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="ManageGrade.aspx.cs" Inherits="Web.CP.ManageGrade" %>
<%@ Register src="../UserControls/MGGrade.ascx" tagname="MGGrade" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <uc1:MGGrade ID="MGGrade1" runat="server" />
</asp:Content>
