﻿<%@ Page Title="Manage location" Language="C#" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="ManageLocation.aspx.cs" Inherits="Web.CP.ManageLocation" %>
<%@ Register src="~/UserControls/MGLocation.ascx" tagname="MGLocation" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <uc1:MGLocation ID="MGLocation1" runat="server" />
</asp:Content>
