﻿<%@ Page Title="Manage Workshift" Language="C#" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="ManageWorkShift.aspx.cs" Inherits="Web.CP.ManageWorkShift" %>
<%@ Register src="../UserControls/MGWorkShift.ascx" tagname="MGWorkShift" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">

    <uc1:MGWorkShift ID="MGWorkShift" runat="server" />

</asp:Content>
