﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Master/ForPopupPage.Master" CodeBehind="ManageInstitution.aspx.cs" Inherits="Web.CP.ManageInstitution" %>
<%@ Register src="../UserControls/InsuranceInstitution.ascx" tagname="InsuranceInstitution" tagprefix="uc" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">

    <uc:InsuranceInstitution ID="InsuranceInstitution1" runat="server" />

  

</asp:Content>
