﻿<%@ Page Title="Manage branches" Language="C#" ValidateRequest="false"  enableEventValidation="false"   MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="ManageBranchAsPopup.aspx.cs" Inherits="Web.CP.ManageBranchAsPopup" %>
<%@ Register src="../UserControls/MGBranch.ascx" tagname="MGBranch" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    
    <uc1:MGBranch Id="MGBranch1" runat="server" />
    
</asp:Content>
