<%@ Page Title="Manage sub-departments" Language="C#" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="ManageSubDepAsPopup.aspx.cs" Inherits="Web.CP.ManageSubDepAsPopup" %>
<%@ Register src="../UserControls/MGSubDepartment.ascx" tagname="MGDepartment" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
<ext:ResourceManager ID="ResourceManager1"  DisableViewState="false" runat="server" ShowWarningOnAjaxFailure="false"
    ScriptMode="Release" Namespace="Rigo" />
    <uc1:MGDepartment Id="MGDepartment1" runat="server" />
</asp:Content>
