﻿<%@ Page Title="Manage programme" Language="C#" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="ManageProgramme.aspx.cs" Inherits="Web.CP.ManageProgramme" %>
<%@ Register src="../UserControls/MGProgramme.ascx" tagname="MGProgramme" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    <uc1:MGProgramme ID="MGProgramme1" runat="server" />
</asp:Content>
