<%@ Page Title="Designation list" Language="C#" MasterPageFile="~/Master/ForPopupPage.Master" AutoEventWireup="true" CodeBehind="ManageDesignation.aspx.cs" Inherits="Web.CP.ManageDesignation" %>
<%@ Register src="~/UserControls/Manage.ascx" tagname="Manage" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
<style  type="text/css">
.marginal {
   
    overflow: hidden;

}

    .
</style>

    <uc1:Manage ID="Manage1" runat="server" />

</asp:Content>
